//
// Article
// --------------------------------------------------

.article {

	@media @tablet-port { text-align: center; }
	@media @mobile-port { text-align: left; }


	.top-image {
		height: 148px;
	}

	.article-description {
		padding-bottom: 20px;
		
		margin-top: 20px;

	h3, h4, h5 {
		margin-bottom: (@vert-gap*0.3);
		a {
			color: @text-color;
			text-decoration: none;
			&:hover { color: @brand-primary; }
			}
		}
	}



// Single Post
// --------------------------------------------------
.post-title {
	padding-top: 20px;
	color: @text-color;
	font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;
	text-transform: uppercase;
	font-weight: 300;

}

.article-body {

	width:100%;
	text-align: justify;
	color: #7e7777;

}

.article-img {
	width: 400px;
	margin-bottom: 15px;
	margin-right: 35px;
}

.picture-img {
	width: 750px;
	margin-bottom: 15px;
	margin-right: 35px;
}

.gallery_main_pic {
	width: 500px;
	height: 499.5px;
	margin-bottom: 15px;
	margin-right: 0px !important;
	border: 0px;
}

.gallery_secondary_pic {
	width: 250px;
	height: 250px;
	margin-bottom: 7.5px;
	margin-right: 0px !important;
	border: 0px;
}

.profile-img {
	@media @mobile-port { position: left; }
		position: relative;
		overflow: hidden;
		width: 50px;
		height: 50px;


			&:hover {
				.meta {
					bottom: 0px;
					.opacity(1, 100);
				}
			}
		}


.taxonomy {
					background: #ececef;
					width: 100%;
					height: 75px;
					padding-top: 15px;
					margin-bottom: 20px;
					border-radius: 3px;
				p { 
					margin-right: 35px; 
					color: #c1c1c3;
					font-size: 12px;
				}	

				h5 {
				font-size: @font-size-base*.9;
				color: #c1c1c3;
				font-weight: bold;
				margin-bottom: (@vert-gap*-0.4);
				
				margin-right: 35px;
				a {
					color: #c1c1c3;
					text-decoration: none;
					&:hover { color: #c1c1c3; }
					}
				}

				a { 
					display: inline-block;
					margin-right: 4px;
					margin-bottom: 4px;
					text-decoration: none;
					color: #c1c1c3;
					border-bottom: 1px solid transparent;
					&:hover {
						color: #c1c1c3;;
						border-bottom: 1px solid #c1c1c3;;
					}
				}

				.face-img {
				position: relative;
				overflow: hidden;
				width: 50px;
				height: 50px;
				border-radius: 3px;


				&:hover {
					.meta {
						bottom: 0px;
						.opacity(1, 100);
					}
				}
			}
			}
.details {
			p, h5 {
  				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 135px;
			}
		}	
.post-meta {
	border-bottom: 1px solid @gray-border;
	margin-bottom: 20px;


	.devider {
		display: block;
		width: 50px;
		height: 1px;
		background: @text-color;
		margin-bottom: (@vert-gap/2.5);
	}
	.share {
		@media @tablet-port { text-align: center; }
		@media @mobile-port { text-align: center; }
		text-align: right;
		text-transform: uppercase;
		color: @gray-text;
		margin-left: 5px;
	}

	.date {
		@media @tablet-port { text-align: center; }
		@media @mobile-port { text-align: center; }
		text-align: left;
		text-transform: uppercase;
		color: @gray-text;
		margin-left: 5px;
	}

}
.post-toolbox {
	padding: (@vert-gap/1.5) 0 (@vert-gap*2) 0;
	&:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}
	@media @mobile-land { text-align: center; }
	.buttons {
		float: right;
		@media @mobile-land {
			float: none;
			display: table;
			margin: @vert-gap auto 0 auto;
		}
		a {
			display: inline-block;
			width: 46px;
			height: 46px;
			.border-radius();
			color: @gray-text;
			text-decoration: none;
			text-align: center;
			border: 1px solid @gray-text;
			margin-left: 20px;
			padding-top: 13px;
			i { font-size: 1.4em; }
			&:hover {
				color: #fff;
				background: @brand-primary;
				border: 1px solid @brand-primary;
			}
		}
		@media @mobile-land {
			a:first-child { margin-left: 0; }
		}
	}
}

.comments {
		position: relative;
		background-size: cover;
		padding: (@vert-gap*1.5) 0 0 0;

		@media @tablet-port { text-align: center; }
		h1, h2, h3, h4, p {
			color: @text-color;
			font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;

		}

		.comments-title {
			color: @text-color;
			font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;
			text-transform: uppercase;
			font-weight: 300;
		}
		a { 
				display: inline-block;
				margin-right: 4px;
				margin-bottom: 4px;
				text-decoration: none;
				border-bottom: 1px solid transparent;
				color: #dd7373;
				&:hover {
					color: darken(#dd7373, 10%);
					
				}
			}
		margin: 10px auto (@vert-gap/1.5) auto;
		form {
			.form-control {
				float: left;
				
				height: 120px;
				width: 100%;
				border-radius: 4px;
				background-color: @gray-light;
				border-color:#fff;
				padding-bottom: 15px;

				@media @desktop { width: 100%; }
				@media @tablet-land { width: 75%; }
				@media @tablet-land { height: 75%; }
				@media @tablet-port { width: 83%; }
				@media @tablet-port { height: 60%; }
				@media @mobile-port { width: 70%; }
				@media @mobile-port { height: 50%; }

			}
		}	

	}


}



.how-works {
		h1 {
				color: #313131;
				font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;
		}
		h2, h3, h4, p {
				color: #6A6464;
				font-family: "DIN Alternate","trebuchet ms", sans-serif;
				margin:0;
				font-size:13px;

			}

	}


	.help-text {
		h1 {
				color: #313131;
				font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;
		}
		h2, h3, h4, p, {
				color: #6A6464;
				font-family: "DIN Alternate","trebuchet ms", sans-serif;

			}


	}




