//
// Blog
// --------------------------------------------------

// Recent Posts / List View Posts / Search Results
// --------------------------------------------------
.recent-post, .blog .list-view .post,
.search-results .post {
	margin-bottom: @vert-gap;
	h3, h4, h5 {
		margin-bottom: (@vert-gap*0.3);
		a {
			color: @text-color;
			text-decoration: none;
			&:hover { color: @brand-primary; }
		}
	}
	p { margin-bottom: (@vert-gap/2); }
	.devider {
		display: block;
		width: 50px;
		height: 1px;
		background: @text-color;
		margin-bottom: (@vert-gap/2.5);
	}
	.meta {
		margin-top: (@vert-gap*0.2);
		font-size: @font-size-small;
		.left, .right {
			float: left;
			@media @desktop { 
				float: none;
				width: 100% !important;
				text-align: left !important;
			}
		}
		.left { width: 65%; }
		.right { width: 35%; text-align: right; }
		a { 
			display: inline-block;
			margin-right: 4px;
			margin-bottom: 4px;
			text-decoration: none;
			border-bottom: 1px solid transparent;
			&:hover {
				color: @brand-primary;
				border-bottom: 1px solid @brand-primary;
			}
		}
		span {
			margin-right: 5px;
			margin-bottom: 5px;
		}
	}
}

// Blog Layouts
// --------------------------------------------------
.blog, .search-results {
	.list-view {
		.post {
			margin-bottom: @vert-gap;
			.featured-img {
				display: block;
				width: 100%;
				max-width: 360px;
				margin: 0 auto (@vert-gap/1.5) auto;
				text-decoration: none;
				img { margin: auto; }
			}
			.meta { font-size: @font-size-base; }
			h3 {
				font-size: (@font-size-base*1.25);
				text-transform: uppercase;
				font-weight: bold;
			}
		}
		@media @tablet-port {
			text-align: center;
			.post {
				margin-bottom: (@vert-gap*1.5);
				.devider { margin-left: auto; margin-right: auto; }
				.meta { 
					.left, .right { text-align: center !important; }
				}
			}
		}
	}
	.grid-view {
		.post {
			width: 100%;
			max-width: 360px;
			margin: 0 auto 30px auto;
			.featured-img {
				position: relative;
				overflow: hidden;
				.meta {
					position: absolute;
					width: 100%;
					padding: 10px 15px;
					text-align: center;
					background: @brand-primary;
					.background-rgba(@brand-primary, 0.8);
					left: 0;
					bottom: -45px;
					opacity: 0;
					.transition(all, 0.3s);
					a {
						color: #fff;
						text-decoration: none;
						margin: 0 10px;
						.opacity(1, 100);
						i {
							font-size: 1.1em;
							margin-right: 8px;
						}
						&:hover { opacity: 0.7; }
					}
				}
				&:hover {
					.meta {
						bottom: 0px;
						.opacity(1, 100);
					}
				}
			}
			footer {
				border-right: 1px solid @gray-border;
				border-bottom: 1px solid @gray-border;
				border-left: 1px solid @gray-border;
				padding: (@vert-gap/1.5) 15px;
			}
			h3 {
				font-size: @font-size-base*1.25;
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: (@vert-gap*0.2);
				a {
					color: @text-color;
					text-decoration: none;
					&:hover { color: @brand-primary; }
				}
			}
			p { margin-bottom: (@vert-gap/1.5); }
			.devider {
				display: block;
				width: 50px;
				height: 1px;
				background: @text-color;
				margin-bottom: (@vert-gap/2.5);
			}
			.taxonomy {
				a { 
					display: inline-block;
					margin-right: 4px;
					margin-bottom: 4px;
					text-decoration: none;
					border-bottom: 1px solid transparent;
					&:hover {
						color: @brand-primary;
						border-bottom: 1px solid @brand-primary;
					}
				}
			}
		}
	}
}

// Post Controls
// --------------------------------------------------
.post-controls {
	width: 100%;
	.next-post, .prev-post {
		display: block;
		top: 5px;
		text-decoration: none;
		i {
			font-size: 1.4em;
			padding-top: 1px;
		}
		&:hover { color: darken(@brand-primary, 10%); }
	}
	.prev-post {
		float: left;
		margin-left: 10px;
		i { margin-right: 8px; float: left; }
	}
	.next-post {
		float: right;
		margin-right: 10px;
		i { margin-left: 8px; float: right; }
	}
	&:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}
}

