
//
// Brochure
// --------------------------------------------------


.brochure {

	.man {

		padding-top: 185px;
	}

	.oops {
		h1 {
				color: #65ADBF;
				font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;
		}
		p { 
				margin-bottom: (@vert-gap/1.5); 
				color: #7e7777;
				text-align: left;
		}	
	}

	.align {
		position: relative;
  		top: 50%;
  		-webkit-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  		transform: translateY(-50%);
	}

	.container {
		border-radius:3px;
	}

	.padding {
		padding:3px;
		height:2px;
	}

	.top-image {
		height: 472px;
	}


	.findschool-image {
		height: 389px;
		width: 1280px;
	}
	

	.white-heading {
		h1 {
				color: #fff;
				font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;
		}
	}

	.how-works {
		h1 {
				color: #313131;
				font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;
		}
		h2, h3, h4, p {
				color: #6A6464;
				font-family: "DIN Alternate","trebuchet ms", sans-serif;

			}

		h2 {
				font-size: 22px;

			}

	}

	.slider-heading {
		h1 {
				color: #313131;
				font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;
		}
		h2, h3, h4, p {
				color: #6A6464;
				font-family: "DIN Alternate","trebuchet ms", sans-serif;

			}

	}

	.faq {
		h1 {
				color: #313131;
				font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;
		}
		h2 {
				color: #313131;
				font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;
				font-size: 30px;
		}
	}

	.contact-us {
		h1 {
				color: #313131;
				font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;
		}
		form {
				.form-control {
					float: left;
					width: 100%;
					height: 55px;
					border-radius: 4px;
					border-color:#fff;
					@media @desktop { width: 80%; }
					@media @tablet-land { width: 75%; }
					@media @tablet-land { height: 75%; }
					@media @tablet-port { width: 83%; }
					@media @tablet-port { height: 60%; }
					@media @mobile-port { width: 70%; }
					@media @mobile-port { height: 50%; }

				}
		}	
		a { 	
				font-size: 12px;
				display: inline-block;
				margin-right: 4px;
				margin-bottom: 4px;
				text-decoration: none;
				border-bottom: 1px solid transparent;
				color: #7e7777;
				&:hover {
				color: darken(@brand-green2, 10%);

					
				}
		}
		margin: 10px auto (@vert-gap/1.5) auto;

		.green-icon { color: @brand-green2; }

	}

	.about { 
			h1 {
				color: #dd7373;
				font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;
			}
			h3, h4, p {
				color: #6A6464;
				font-family: "DIN Alternate","trebuchet ms", sans-serif;

			}


			h2 {
				font-size:24px;
				color: #65ADBF;
				font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;

			}

			.borders {
				padding-top: 8px;
				border-top-style: solid;
				border-bottom-style: solid;
				border-width: 2px;
				color: #65ADBF;
				text-align: center;
				width: 300px;
		}
	}

	.sign-up {
		position: relative;
		z-index: 1;
		width: 100%;
		background-size: cover;
		padding: (@vert-gap*1.5) 0 0 0;

		@media @tablet-port { text-align: center; }
		h1 {
			color: #dd7373;
			font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;
		}	
		h2, h3, h4, p {
			color: #dd7373;
			font-family: "DIN Alternate","trebuchet ms", sans-serif;

		}
		a { 
				display: inline-block;
				margin-right: 4px;
				margin-bottom: 4px;
				text-decoration: none;
				border-bottom: 1px solid transparent;
				color: #dd7373;
				&:hover {
					color: darken(#dd7373, 10%);
					
				}
			}
		margin: 10px auto (@vert-gap/1.5) auto;
		form {
			.form-control {
				float: left;
				width: 100%;
				height: 55px;
				border-radius: 4px;
				border-color:#fff;
				margin-bottom: 5px;


			}
		}	

	}

	.sign-up-contact {
		position: relative;
		z-index: 1;
		width: 100%;
		background-size: cover;
		padding: (@vert-gap*1.5) 0 0 0;

		@media @tablet-port { text-align: center; }
		h1 {
			color: #000000;
			font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;
		}	
		h2, h3, h4, p {
			color: #000000;
			font-family: "DIN Alternate","trebuchet ms", sans-serif;

		}
		a { 
				display: inline-block;
				margin-right: 4px;
				margin-bottom: 4px;
				text-decoration: none;
				border-bottom: 1px solid transparent;
				color: #696969;
				&:hover {
					color: darken(#66A89C, 10%);
					
				}
			}
		margin: 10px auto (@vert-gap/1.5) auto;
		form {
			.form-control {
				float: left;
				width: 100%;
				height: 55px;
				border-radius: 4px;
				border-color:#fff;
				margin-bottom: 5px;


			}
		}	

	}



	.find-school {
		position: relative;
		z-index: 1;
		width: 100%;
		background-size: cover;

	

		@media @tablet-port { text-align: center; }
		h1 {
			color: #000000;
			font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;
		}	
		h2, h3, h4, p {
			color: #dd7373;
			font-family: "DIN Alternate","trebuchet ms", sans-serif;
            margin-bottom: 2px;

		}

			.face-img {
				position: relative;
				overflow: hidden;
				width: 360px;
				height: 200px;
				border-radius: 3px;


				&:hover {
					.meta {
						bottom: 0px;
						.opacity(1, 100);
					}
				}
			}

        .school-heading {
        
        min-height: 60px;
           h3, {
			color: #dd7373;
			font-family: "DIN Alternate","trebuchet ms", sans-serif;
            margin-bottom: 1px;

		}
        }
		a { 
				display: inline-block;
				margin-right: 4px;
				margin-bottom: 4px;
				text-decoration: none;
				border-bottom: 1px solid transparent;
				color: @yellow-lighter;
				&:hover {
					color: darken(@yellow-lighter, 10%);
					
				}
			}
		margin: 10px auto (@vert-gap/1.5) auto;
		form {
			.form-control {
				float: left;
				width: 100%;
				height: 55px;
				border-radius: 4px;
				border-color:#fff;
				margin-bottom: 5px;


			}
		}	

	}

	.school-list {


		h2, h3, h4, p {
			color: #696969;
			font-family: "DIN Alternate","trebuchet ms", sans-serif;

		}

		h4{
			font-size:14px
		}
		margin-bottom: 15px;
	}

	.grid-view {
		
		h1, {
			color: #00000;
			font-size: @font-size-base*3.35;
			font-family: "DIN Condensed","trebuchet ms", sans-serif;
			font-weight: bold;
		}
		.post {
			width: 100%;
			
			
			
			.featured-img {
				margin-top: 25px;
				position: relative;
				overflow: hidden;
				width: 270px;
				height: 260px;
				border-radius: 3px;

				.meta {
					position: absolute;
					width: 100%;
					padding: 10px 15px;
					text-align: center;
					background: @brand-primary;
					.background-rgba(@brand-primary, 0.8);
					left: 0;
					bottom: -45px;
					opacity: 0;
					.transition(all, 0.3s);
					a {
						color: #fff;
						text-decoration: none;
						margin: 0 10px;
						.opacity(1, 100);
						i {
							font-size: 1.1em;
							margin-right: 8px;
						}
						&:hover { opacity: 1.7; }
					}
				}
				&:hover {
					.meta {
						bottom: 0px;
						.opacity(1.7);
					}
				}
			}
			footer {
				padding-left: 7px;
				margin-bottom: 10px;
			}
			a { 
					display: inline-block;
					margin-right: 4px;
					
					padding-top: -4px;
					text-decoration: underline;
					color: #7e7777;
					border-bottom: 1px solid transparent;
					&:hover {
						color: #c1c1c3;;
						border-bottom: 1px solid #c1c1c3;;
					}
				}
		.heading {
			min-height: 60px;

			h3 {
				font-size: @font-size-base*1.25;
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: (@vert-gap*0.2);
				color: #7e7777;
				min-height: 50px;
				a {
					color: #c1c1c3;
					text-decoration: none;
					&:hover { color: #c1c1c3; }
				}
			}

		}
		.summary {
			min-height: 85px;

			p { 
				margin-bottom: (@vert-gap/1.5); 
				color: #7e7777;
			}

		}		
		
			h3 {
				font-size: @font-size-base*1;
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: (@vert-gap*0.2);
				color: #7e7777;
				a {
					color: #c1c1c3;
					text-decoration: none;
					&:hover { color: #c1c1c3; }
				}
			}
			
			p { 
				margin-bottom: (@vert-gap/1.5); 
				color: #7e7777;
			}
			.devider {
				display: block;
				width: 50px;
				height: 1px;
				background: @text-color;
				margin-bottom: (@vert-gap/2.5);
			}
			.taxonomy {

				p { 
					margin-right: 35px; 
					color: #c1c1c3;
					font-size: 12px;
				}	

				h5 {
				font-size: @font-size-base*.9;
				color: #c1c1c3;
				font-weight: bold;
				margin-bottom: (@vert-gap*-0.4);
				
				margin-right: 35px;
				a {
					color: #c1c1c3;
					text-decoration: none;
					&:hover { color: #c1c1c3; }
					}
				}


				h4 {
  				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 260px;
				}

				a { 
					display: inline-block;
					margin-right: 4px;
					margin-bottom: 4px;
					text-decoration: none;
					color: #c1c1c3;
					border-bottom: 1px solid transparent;
					&:hover {
						color: #c1c1c3;;
						border-bottom: 1px solid #c1c1c3;;
					}
				}

				.face-img {
				position: relative;
				overflow: hidden;
				width: 50px;
				height: 50px;
				border-radius: 3px;


				&:hover {
					.meta {
						bottom: 0px;
						.opacity(1, 100);
					}
				}
			}
			}
		}
	}

	.form-border{
		border-width:10px;
		border-radius: 4px;
		border-color:@yellow-lighter;
		height: 70px;
		font-size: (@font-size-base*1.2);//1.2em
	}

	.btn-search {
	padding: 10px 36px !important;
	font-size: (@btn-font-size*1.2) !important;
	border-radius: 4px;
	height: 70px; 
	}

	.news-categories {



		position: relative;
		z-index: 1;
		width: 100%;
		background-size: cover;
		padding: (@vert-gap*1.5) 0 0 0;

		@media @tablet-port { text-align: center; }
		h1 {
			color: #000000;
			font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;
		}	
		h2, h3, h4, p {
			color: #dd7373;
			font-family: "DIN Alternate","trebuchet ms", sans-serif;

		}
		a { 
				display: inline-block;
				margin-right: 4px;
				margin-bottom: 4px;
				text-decoration: none;
				border-bottom: 1px solid transparent;
				;
				&:hover {
					color: darken(#dd7373, 10%);
					
				}
			}
		margin: 10px auto (@vert-gap/1.5) auto;
		form {
			.form-control {
				float: left;
				width: 100%;
				height: 55px;
				border-radius: 4px;
				border-color:#fff;
				margin-bottom: 5px;


			}
		}	

	}

}
