//
// Buttons Normal
// --------------------------------------------------

.btn {
	font-size: @btn-font-size !important;
	color: @btn-default-color !important;
	padding: 4px 26px !important;
	text-transform: uppercase;
  font-weight: @btn-font-weight;
  text-align: center;
	text-decoration: none !important;
	background: @btn-default-bg;
  vertical-align: middle;
  cursor: pointer;
  border: none;
	.border-radius();
  white-space: nowrap;
	.transition(all, 0.3s);
	outline: none !important;
	margin: 0 5px 0 0 !important;
	&:hover {
		background: darken(@btn-default-bg, 10%);
		text-decoration: none;
	}
	&:active,
	&.active {
		background-image: none;
		box-shadow: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed;
		pointer-events: none;
		.opacity(.5, 50);
	}
	span { 
		font-weight: 900;
		margin-right: 15px;
	}
	i {
		font-size: 1.2em;
		line-height: 1;
		vertical-align: top;
		padding-top: 2px;
		&.left { margin-right: 10px; }
		&.right { margin-left: 10px; }
	}
}
.btn-center {
	display: table !important;
	margin: auto !important;
}

// Button color variations
// --------------------------------------------------
.btn-blue {
  background: @btn-blue-bg;
	color: @btn-blue-color;
	&:hover {
		background: darken(@btn-blue-bg, 10%);
	}
}

.btn-starblue {
  background: @star-blue;
	color: @star-blue;
	&:hover {
		background: darken(@star-blue, 10%);
	}
}

.btn-brand-light {
	border: 0px;
	border-color: @brand-white!important;
	border-width: 2px!important;
  	background: @btn-brand-light-bg;
	color: @btn-brand-light-color;
	&:hover {
		background: darken(@btn-brand-light-bg, 10%);
	}
}

.btn-brand-dark {
	border: 0px;
	border-color: @brand-white!important;
	border-width: 2px!important;
  	background: #7ac6c6;
	color: #7ac6c6;
	&:hover {
		background: darken(#7ac6c6, 10%);
	}
}


.btn-green {
  background: @btn-green-bg;
	color: @btn-green-color;
	&:hover {
		background: darken(@btn-green-bg, 10%);
	}
}

.btn-green2 {
  background: @btn-green-light-bg;
	color: @btn-green-light-color;
	&:hover {
		background: darken(@btn-green-light-bg, 10%);
	}
}


.btn-cat-sports {
  background: @btn-cat-sports-bg;
	color: @btn-cat-sports-color;
	&:hover {
		background: darken(@btn-cat-sports-bg, 10%);
	}
}

.btn-cat-multimedia {
  background: @btn-cat-multimedia-bg;
	color: @btn-cat-multimedia-color;
	&:hover {
		background: darken(@btn-cat-multimedia-bg, 10%);
	}
}

.btn-cat-entertainment {
  background: @btn-cat-entertainment-bg;
	color: @btn-cat-entertainment-color;
	&:hover {
		background: darken(@btn-cat-entertainment-bg, 10%);
	}
}

.btn-cat-all {
  background: @btn-cat-all-bg;
	color: @btn-cat-all-color;
	&:hover {
		background: darken(@btn-cat-all-bg, 10%);
	}
}

.btn-cat-profile {
  background: @btn-cat-profile-bg;
	color: @btn-cat-profile-color;
	&:hover {
		background: darken(@btn-cat-profile-bg, 10%);
	}
}

.btn-mustard {

  background: @btn-mustard-bg;
	color: @btn-mustard-color;
	border-colour: @btn-mustard-color;
	&:hover {
		background: darken(@btn-mustard-bg, 10%);
	}
}

.btn-purple {
  background: @btn-purple-bg;
	color: @btn-purple-color;
	&:hover {
		background: darken(@btn-purple-bg, 10%);
	}
}

.btn-yellow-lighter {
  background: @yellow-lighter;
	color: @yellow-lighter;
	&:hover {
		background: darken(@yellow-lighter, 10%);
	}
}

.btn-yellow {
  background: @btn-yellow-bg;
	color: @btn-yellow-color;
	&:hover {
		background: darken(@btn-yellow-bg, 10%);
	}
}

.btn-default {
  background: @btn-default-bg;
	color: @btn-default-color;
	&:hover {
		background: darken(@btn-default-bg, 10%);
	}
}
.btn-default2 {
  background: #e6e6e6;
	color: @text-color !important;
	&:hover {
		background: darken(#e9eaea, 7%);
	}
}

.btn-primary {
  background: @btn-primary-bg;
	color: @btn-primary-color;
	&:hover {
		background: darken(@btn-primary-bg, 10%);
	}
}
.btn-success {
  background: @btn-success-bg;
	color: @btn-success-color;
	&:hover {
		background: darken(@btn-success-bg, 10%);
	}
}
.btn-info {
  background: @btn-info-bg;
	color: @btn-info-color;
	&:hover {
		background: darken(@btn-info-bg, 10%);
	}
}
.btn-warning {
  background: @btn-warning-bg;
	color: @btn-warning-color;
	&:hover {
		background: darken(@btn-warning-bg, 10%);
	}
}
.btn-danger {
  background: @btn-danger-bg;
	color: @btn-danger-color;
	&:hover {
		background: darken(@btn-danger-bg, 10%);
	}
}
//
// Buttons Transparent
// --------------------------------------------------
.btn-transparent {
	background: rgba(255,255,255,0.20);
	&:hover {
		color: @brand-default !important;
		background: #fff;
		&.btn-primary { color: @brand-primary !important; }
		&.btn-success { color: @brand-success !important; }
		&.btn-info { color: @brand-info !important; }
		&.btn-warning { color: @brand-warning !important; }
		&.btn-danger { color: @brand-danger !important; }
	}
}
.no-rgba .btn-transparent {
	background: #fff;
	filter: alpha(opacity=40);
	&.btn-primary { color: @brand-primary !important; }
	&.btn-success { color: @brand-success !important; }
	&.btn-info { color: @brand-info !important; }
	&.btn-warning { color: @brand-warning !important; }
	&.btn-danger { color: @brand-danger !important; }
	&:hover { filter: alpha(opacity=100); }
}

//
// Buttons Outlined
// --------------------------------------------------
.btn-outlined {
	font-size: @btn-font-size;
	color: @btn-outlined-default-color;
	padding: 10px 40px;
  font-weight: @btn-font-weight;
  text-align: center;
	background: none;
	border: @btn-outlined-default-border;
  vertical-align: middle;
  cursor: pointer;
	.border-radius();
  white-space: nowrap;
	.transition(all, 0.4s);
	margin: 0 5px 0 0 !important;
	outline: 0;
	&:hover {
		border-color: transparent;
		background: @btn-default-bg;
		color: #fff;
		text-decoration: none;
	}
	&:active,
	&.active {
		background-image: none;
		box-shadow: none;
	}
	&.btn-default {
		border: @btn-outlined-default-border;
		color: @btn-outlined-default-color !important;
		&:hover {
			border-color: transparent;
			background: @btn-default-bg;
			color: #fff !important;
		}
	}
	&.btn-primary {
		border: @btn-outlined-primary-border;
		color: @btn-outlined-primary-color !important;
		&:hover {
			border-color: transparent;
			background: @btn-primary-bg;
			color: #fff !important;
		}
	}
	&.btn-success {
		border: @btn-outlined-success-border;
		color: @btn-outlined-success-color !important;
		&:hover {
			border-color: transparent;
			background: @btn-success-bg;
			color: #fff !important;
		}
	}
	&.btn-info {
		border: @btn-outlined-info-border;
		color: @btn-outlined-info-color !important;
		&:hover {
			border-color: transparent;
			background: @btn-info-bg;
			color: #fff !important;
		}
	}
	&.btn-warning {
		border: @btn-outlined-warning-border;
		color: @btn-outlined-warning-color !important;
		&:hover {
			border-color: transparent;
			background: @btn-warning-bg;
			color: #fff !important;
		}
	}
	&.btn-danger {
		border: @btn-outlined-danger-border;
		color: @btn-outlined-danger-color !important;
		&:hover {
			border-color: transparent;
			background: @btn-danger-bg;
			color: #fff !important;
		}
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed;
		pointer-events: none;
		background: none;
		.opacity(.5, 50);
	}
}

//
// Buttons Outlined Inverted
// --------------------------------------------------
.btn-outlined-invert {
	font-size: @btn-font-size;
	color: #fff;
	padding: 10px 40px;
  font-weight: @btn-font-weight;
  text-align: center;
	background: transparent;
	border: 1px solid #fff;
  vertical-align: middle;
  cursor: pointer;
	.border-radius();
  white-space: nowrap;
	.transition(all, 0.4s);
	outline: 0;
	&:hover {
		background: #fff;
		color: @text-color !important;
		text-decoration: none;
	}
}

// Button sizes
// --------------------------------------------------
.btn-footer {
	padding: 10px 36px !important;
	font-size: (@btn-font-size*1) !important;
	border-radius: 45px;
}

.btn-landing-sign-up {
	padding: 10px 36px !important;
	font-size: (@btn-font-size*1.2) !important;
	border-radius: 4px;
	height: 55px;
}

.btn-news-categories {
	padding: 10px 36px !important;
	font-size: (@btn-font-size*1) !important;
	border-radius: 4px;
	height: 140px;
	width: 140px;
}

.btn-categories {
	padding: 4px 26px !important;
	font-size: (@btn-font-size*1) !important;
    border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-right-radius:0em;
	border-bottom-left-radius:0em;
    font-size: @btn-font-size !important;	
	padding: 4px 26px !important;
	text-transform: uppercase;
  	font-weight: @btn-font-weight;
  	text-align: center;
	text-decoration: none !important;	
  	vertical-align: middle;
  	cursor: pointer;
  	border: none;
  	white-space: nowrap;
	.transition(all, 0.3s);
	outline: none !important;
	margin: 0 5px 0 0 !important;
	


}

.btn-news-categories1 {
	padding: 10px 7px !important;
	font-size: (@btn-font-size*1) !important;
	border-radius: 4px;
	height: 140px;
	width: 140px;
}
.btn-news-categories2 {
	padding: 10px 7px !important;
	font-size: (@btn-font-size*1) !important;
	border-radius: 4px;
	height: 140px;
	width: 140px;
}

.btn-login {
	padding: 10px 36px !important;
	font-size: (@btn-font-size*1.2) !important;
	border-radius: 4px;
	height: 55px;
}

.btn-comment {
	padding: 10px 36px !important;
	font-size: (@btn-font-size*1.2) !important;
	border-radius: 4px;
	height: 55px;
}

.btn-list-search {
	padding: 10px 36px !important;
	font-size: (@btn-font-size*1.2) !important;
	border-radius: 4px;
	height: 60px;
}

.btn-article-upload {
	padding: 10px 36px !important;
	font-size: (@btn-font-size*1.3) !important;
	font-family: "DIN Alternate","trebuchet ms", sans-serif;
	font-color: @brand-primary;
	border-radius: 4px;
	height: 60px;
}

.btn-article-share {
	
	font-size: (@btn-font-size*1.3) !important;
	font-family: "DIN Alternate","trebuchet ms", sans-serif;
	border-radius: 4px;
	height: 40px;
	width: 40px;
}

.btn-lg {
	padding: 10px 36px !important;
	font-size: (@btn-font-size*1.43) !important;
}
.btn-md {
	padding: 8px 26px !important;
	font-size: @font-size-base !important;
}
.btn-sm {
	padding: 4px 20px !important;
	font-size: (@btn-font-size/1.25) !important; 
}
.btn-xs {
	padding: 2px 15px !important;
	font-size: (@btn-font-size*0.7) !important; 
}
.btn-block {
	padding-left: 5px !important;
	padding-right: 5px !important;
}