//
// Footer
// --------------------------------------------------
.footer {
	position: relative;
	z-index: 1;
	width: 100%;
	background-color: grey;


	@media @tablet-port { text-align: center; }

	.footer-img {
		position: absolute;
		padding-top: -20px; 
		width: 200px;
		height: 250px;
	}
	h3 {
		font-size: 1.4em;
		text-transform: uppercase;
		color: #fff;
	}
	h5,a {
		color:#f8f8f8;
		text-transform: uppercase;
		text-decoration:none;
	}
	p, { 
		color: #fff;
		font-size: 14px;
	}
	.featured-post, .features, .contacts {
		margin-bottom: @vert-gap;
		h4, h5 {
			margin-bottom: (@vert-gap*0.3);
			a {
				color: @text-color;
				text-decoration: none;
				&:hover { color: @brand-primary; }
			}
		}
		.devider {
			display: block;
			width: 50px;
			height: 1px;
			background: @text-color;
			@media @tablet-port { margin: auto; }
		}
		.meta {
			margin-top: (@vert-gap*0.2);
			font-size: @font-size-small;
			.left, .right {
				float: left;
				@media @desktop { 
				 	float: none;
				 	width: 100% !important;
				}
			}
			.left { width: 65%; }
			.right { width: 35%; }
			a { 
				display: inline-block;
				margin-right: 4px;
				margin-bottom: 4px;
				text-decoration: none;
				border-bottom: 1px solid transparent;
				&:hover {
					color: @brand-primary;
					border-bottom: 1px solid @brand-primary;
				}
			}
			span {
				margin-right: 4px;
				margin-bottom: 4px;
			}
		}
	}
	.featured-post {
		h4, h5 { margin-bottom: (@vert-gap*0.25); }
	}
	.features {
		margin-bottom: (@vert-gap/2);
		h4, h5 { margin-bottom: (@vert-gap*0.2); font-weight: normal; }
		.group { margin-bottom: (@vert-gap/3); }
		.pull-left {
			@media @tablet-port {
				float: none;
				text-align: center;
				width: 100%;
			}
		}
		p { font-size: @font-size-small; }
		i, .icon {
			padding-top: 5px;
			font-size: 3.2em;
			margin: 0 18px 5px -4px;
			@media @tablet-port { margin-left: 20px; }
		}
	}
	.contacts {
		h4, h5 {
			font-weight: bold;
			margin-bottom: (@vert-gap*0.2);
		}
		p { margin-bottom: (@vert-gap/1.8); }
		.social-bar {
			a {
				text-decoration: none;
				font-size: 2em;
				margin: 10px 18px 10px 0;
				&:hover { color: darken(@brand-primary, 10%); }
			}
		}
	}
	.subscribe {
		max-width: 400px;
		margin: 10px auto (@vert-gap/1.5) auto;
		form {
			.form-control {
				float: left;
				width: 70%;
				height: 45px;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
				border-color:#fff;
				@media @desktop { width: 80%; }
				@media @tablet-land { width: 75%; }
				@media @tablet-port { width: 70%; }
				@media @mobile-port { width: 50%; }

			}
			button[type=submit] {
				float: right;
				width: 30%;
				height: 45px;
				.border-radius();
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				background: #65a89b;
				border: none;
				color: #fff;
				font-size: 1em;
				.transition(background, 0.3s);
				&:hover { background: darken(#65a89b, 10%); }
			}
			&:after {
				visibility: hidden;
				display: block;
				content: "";
				clear: both;
				height: 0;
			}
		}
	}
	.twitter-social-button {
		max-width: 400px;
		margin: 10px auto (@vert-gap/1.5) auto;

				.input-group-addon {

				border-color: #09ced5;
				border-right-color: #fff;
				margin-bottom: 10px;
				background-color: #09ced5;
				width: 20px;
				height: 45px;
				color: #fff;
				font-size: 1em;

		}
		form {


			button[type=description] {
				float: right;
				width: 230px;
				height: 45px;
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				background: #09ced5;
				border: none;
				color: #fff;
				font-size: 1em;
				.transition(background, 0.3s);
				&:hover { background: darken(#09ced5, 10%); }
			}
			&:after {
				visibility: hidden;
				display: block;
				content: "";
				clear: both;
				height: 0;
			}
		}
	}

	.facebook-social-button {
		max-width: 400px;
		margin: 10px auto (@vert-gap/1.5) auto;

		.input-group-addon {

				border-color: #02507d;
				border-right-color: #fff;
				margin-bottom: 10px;
				background-color: #02507d;
				width: 25px;
				height: 45px;
				color: #fff;
				font-size: 1em;

		}
		form {

			button[type=description] {
				float: right;
				width: 230px;
				height: 45px;
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				background: #02507d;
				border: none;
				color: #fff;
				font-size: 1em;
				.transition(background, 0.3s);
				&:hover { background: darken(#02507d, 10%); }
			}
			&:after {
				visibility: hidden;
				display: block;
				content: "";
				clear: both;
				height: 0;
			}
		}
	}

	.linkedin-social-button {
		max-width: 400px;
		margin: 10px auto (@vert-gap/1.5) auto;

		.input-group-addon {

				border-color: #007bb6;
				border-right-color: #fff;
				margin-bottom: 10px;
				background-color: #007bb6;
				width: 25px;
				height: 45px;
				color: #fff;
				font-size: 1em;

		}
		form {

			button[type=description] {
				float: right;
				width: 230px;
				height: 45px;
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				background: #007bb6;
				border: none;
				color: #fff;
				font-size: 1em;
				.transition(background, 0.3s);
				&:hover { background: darken(#007bb6, 10%); }
			}
			&:after {
				visibility: hidden;
				display: block;
				content: "";
				clear: both;
				height: 0;
			}
		}
	}


			

	.copyright {
		background: none;
		text-align: center;
		padding-bottom: 20px;
		p {
			margin-bottom: 0;
			font-size: @font-size-base;
			a {
				text-decoration: none;
				border-bottom: 1px solid transparent;
				color: @brand-white;
				&:hover {
					color: @brand-default;
					
				}
			}
		}
	}
}