//
// Forms
// --------------------------------------------------

label {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 300;
}
.form-control {
  display: block;
  width: 100%;
  height: @input-height-base;
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: @font-size-base;
	font-weight: 300;
  line-height: @line-height-base;
  color: @input-color;
  background: #fff;
  border: 1px solid @input-border-color;
  border-radius: @input-border-radius;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
	
	//ie10+ fixes
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   line-height: 1;
	}
	
  // Customize the `:focus` state 
  .form-control-focus();

  // Placeholder
  .placeholder(@gray-dark);

  // Disabled and read-only inputs
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background: none;
		.opacity(.5, 50);
  }
}
.form-group {
	display: block;
	margin-bottom: @vert-gap;
}
.input-lg {
	height: @input-height-lg;
	font-size: (@font-size-base*1.2);//1.2em
}
.help-link {
	display: inline-block;
	float: right;
	font-size: @font-size-small;
	margin-top: (@vert-gap/2);
	margin-bottom: -(@vert-gap/2);
}
//ie8-9 fixes
.ie .form-control { line-height: 1; }

// Submit button with price
// --------------------------------------------------
.submit-with-price {
	display: block;
	position: relative;
	width: 100%;
	color: #fff;
	background: @brand-primary;
	border: none;
	outline: none;
	.border-radius();
	padding: (@vert-gap/4) 20px (@vert-gap/2.5) 20px;
	.transition(all, 0.3s);
	&:after {
		display: block;
		position: absolute;
		content: '\f105';
		font-family: FontAwesome;
		top: 50%;
		right: 12px;
		font-size: 1.8em;
		margin-top: -20px;
	}
	span {
		display: block;
		width: 100%;
		text-align: center;
		&.price {
			font-size: (@font-size-base*2.5);
		}
		&.text {
			font-size: @font-size-large;
			text-transform: uppercase;
		}
	}
	&:hover { background: darken(@brand-primary, 10%); }
}

// Checkboxes and Radios
// --------------------------------------------------
.checkbox, .radio {
	display: inline-block;
	padding-left: 0px;
	margin: 0 25px (@vert-gap/2) 0;
	&:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}
	label {
		display: inline-block;
		vertical-align: middle;
		padding-left: 0px;
		color: #3f3f3f;
	}
	.icheckbox,
	.iradio {
		position: relative;
		display: block;
		float: left;
		*display: inline;
		margin: 4px 9px 0 0;
		padding: 0;
		width: 18px;
		height: 18px;
		background: #fff;
		border: 2px solid #b8b8b6;
		cursor: pointer;
		.transition(all, 0.25s);
	}
	.iradio { .border-round(); }
	.iradio.checked {
		border: 2px solid @brand-primary;
		&:after {
			content: "";
			display: block; 
			position: absolute;
			width: 6px;
			height: 6px;
			background: @brand-primary;
			.border-round();
			top: 4px;
			left: 4px;
		}
	}
	.icheckbox.checked {
		border: 2px solid @brand-primary;
		&:after {
			font-family: 'FontAwesome';
			content: "\f00c";
			font-size: 0.7em;
			display: block; 
			position: absolute;
			line-height: 0;
			color: @brand-primary;
			top: 7px;
			left: 2px;
		}
	}
	.checkbox.disabled label, 
	.radio.disabled label {
		cursor: default;
		.opacity(.5, 50);
	}
	.icheckbox.disabled,
	.iradio.disabled {
		.opacity(0.5, 5);
		cursor: default;
	}
	.icheckbox.checked.disabled,
	.iradio.checked.disabled {
		.opacity(0.5, 5);
		cursor: default;
	}
}

// Validation styles
// --------------------------------------------------
input.error,
textarea.error {
	border-color: @brand-danger !important;
}
label.error {
	display: none !important;
}

// Selects
// --------------------------------------------------
.select-style {
	position: relative;
	border: 1px solid @input-border-color;
	width: 100%;
	background: #fff;
	&:after {
		position: absolute;
		background: #fff;
		top: 0;
		width: 32px;
		height: @input-height-base; 
		text-align: center;
		right: 0px;
		color: @input-border-color;
		font-size: 1.4em;
		line-height: 1;
		padding-top: 5px; 
		font-family: FontAwesome;
		content: "\f107";
	}
	select {
		padding: 0 @padding-base-horizontal;
		height: @input-height-base;
		width: 100%;
		font-weight: 300;
		border: none;
		box-shadow: none;
		background: transparent;
		background-image: none;
		-webkit-appearance: none;
		
		//ie10+ fixes
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
		 line-height: 1;
		}
	}
	&.select-lg {
		select {
			height: @input-height-lg;
			font-size: (@font-size-base*1.2);//1.2em
		}
		&:after {
			height: @input-height-lg;
			 padding-top: 9px; 
		}
	}
}
.select-style select:focus { outline: none; }
.helper-text {
	display: inline-block;
	color: @gray-dark;
	margin: (@vert-gap/1.5) 0 (@vert-gap/2) 0;
	&:hover { color: @gray-dark !important; }
}
.helper-links {
	margin-top: (@vert-gap/1.5);
	a {
		display: inline-block;
		margin-bottom: (@vert-gap/1.8);
		font-size: @font-size-small;
		padding-bottom: 1px;
		margin: 0 0 4px 0;
		color: #afafaf;
		text-decoration: none;
		border-bottom: 1px solid #afafaf;
		&:hover {
			color: #afafaf;
			border-bottom: 1px solid transparent;
		}
	}
	&.lg a { font-size: @font-size-base; }
}

// Form Light Version
// --------------------------------------------------
.light-version {
	.form-control {
		color: #fff;
		background: none;
		border: 1px solid #fff;
		
		// Placeholder
		.placeholder(#fff);
	}
	.select-style {
		background: none;
		border: 1px solid #fff;
		color: #fff;
		&:after {
			background: none;
			color: #fff;
		}
		option { color: @text-color; }
	}
	.submit-with-price {
		background: none;
		border: 1px solid #fff;
		&:hover {
			background: #fff;
			color: @brand-primary;
		}
	}
}
//Hack For Mozilla
@-moz-document url-prefix() { 
  .light-version .select-style {
		overflow: hidden;
		select { width: 110%; }
	}
}
//Hacks For IE
.ie .light-version .select-style {
	overflow: hidden;
	select { width: 110%; }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	.light-version .select-style {
		overflow: hidden;
		select { width: 120%; }
	}
}

// Form 3D Style
// --------------------------------------------------
.form-3d {
	.form-control {
		position: relative;
		z-index: 3;
		height: @input-height-lg;
		border-color: darken(@gray, 7%);
	}
	textarea { min-height: 71px; }
	.form-group, .datePicker {
		position: relative;
		font-size: (@font-size-base*1.2);//1.2em
		&:after {
			display: block;
			position: absolute;
			content: '';
			z-index: 1;
			width: 100%;
			min-height: 100%;
			background: darken(@gray, 3%);
			right: -10px;
			top: 10px;
		}
	}
	.datePicker {
		display: block;
		font-size: 100%;
		margin: auto;
		.datepicker {
			position: relative;
			background: #fff;
			padding: 5px 10px 15px 10px !important;
			z-index: 2;
			border: 1px solid darken(@gray, 7%);
			th.datepicker-switch {
				text-transform: none !important;
				font-weight: normal;
			}
			.fa { 
				display: block;
				margin: auto;
				border: 1px solid lighten(@gray-text, 10%);
				.border-round();
				width: 20px;
				height: 20px;
				color: lighten(@gray-text, 3%) !important;
				font-size: 0.85em !important;
				.transition(all, 0.3s);
				&:hover {
					color: @brand-primary !important;
					border-color: @brand-primary !important;
				}
			}
			.prev, .next {
				&:after {
					visibility: hidden;
					display: block;
					content: "";
					clear: both;
					height: 0;
				}
			}
			.fa-angle-left { float: right; padding-right: 7px; }
			.fa-angle-right { float: left; padding-left: 7px; }
			thead tr:last-child,
			tbody tr {
				border-bottom: 1px solid transparent !important;
				td {
					font-size: 1.2em;
					font-weight: 300;
					padding-top: 4px !important;
					padding-bottom: 4px !important;
				}
			}
		}
	}
	&.light {
		.form-control, .datepicker { border-color: #fff; }
		.form-group, .datePicker {
			&:after {
				background: #fff;
				.opacity(.5, 50);
				right: -10px;
				top: 10px;
			}
		}
	}
}

// Login / Sign Up Forms
// --------------------------------------------------
.login-form {
	display: block;
	width: 100%;
	max-width: 450px;
	margin: auto;
}
.social-sugnup {
	text-align: center;
	a {
		display: block;
		width: 263px;
		padding: 12px;
		text-decoration: none;
		color: #fff;
		font-size: (@font-size-base*1.125);
		.border-radius();
		margin: 0px auto 15px auto;
		@media @mobile-land { width: 100%; }
		&.facebook {
			background: #6984b4;
			&:hover { background: darken(#6984b4, 10%); }
		}
		&.twitter {
			background: #4fccf5;
			&:hover { background: darken(#4fccf5, 10%); }
		}
		&.pinterest {
			background: #c21c21;
			&:hover { background: darken(#c21c21, 10%); }
		}
	}
}

// Inline Search Form
// --------------------------------------------------
.inline-search {
	display: block;
	width: 100%;
	max-width: 560px;
	margin: @vert-gap auto;
	.form-control {
		float: left;
		width: 75%;
		@media @tablet-port { width: 70%; }
		@media @mobile-land { width: 58%; }
	}
	.btn { float: right; }
	&:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}
}

// Comment Form
// --------------------------------------------------
.comment-form {
	textarea { min-height: 163px; }
}
