//
// Landing
// --------------------------------------------------
.landing {
	position: relative;
	z-index: 1;
	width: 100%;

		.category-image {
		height: 472px;
		
	}
	
	@media @tablet-port { text-align: center; }

	.temp-slider {
		position: relative;
		
		width: 100%;
		background-size: cover;
		

		@media @tablet-port { text-align: center; }

		h1 {
			color: #dd7373;
			font-family: "DIN Condensed", "Arial Narrow", verdana;
		}	
		h2, h3, h4, p {
			color: #dd7373;
			font-family: "DIN Alternate", "Arial Narrow", verdana;

		}
		a { 
				display: inline-block;
				margin-right: 4px;
				margin-bottom: 4px;
				text-decoration: none;
				border-bottom: 1px solid transparent;
				color: #dd7373;
				&:hover {
					color: darken(#dd7373, 10%);
					
				}
			}
		margin: 10px auto (@vert-gap/1.5) auto;
		form {
			.form-control {
				float: left;
				width: 100%;
				height: 55px;
				border-radius: 4px;
				border-color:#fff;
				@media @desktop { width: 80%; }
				@media @tablet-land { width: 75%; }
				@media @tablet-land { height: 75%; }
				@media @tablet-port { width: 83%; }
				@media @tablet-port { height: 60%; }
				@media @mobile-port { width: 70%; }
				@media @mobile-port { height: 50%; }

			}
		}	

	}

	.man {

		padding-top: 185px;
	}

	.carousel,
	.item {
		 height: 100%;
		 background: transparent; 
		 text-align: center;
	}
	.active {
	    height: 100%;
	    @media @mobile-port { height: 110%; }
	}

	.carousel-inner {
	    height: 100%;
	}

	.carousel-article {
		h1 {
				color: #ffffff;
				font-family: "DIN Condensed", "Arial Narrow", verdana;
				text-align: left;
				font-size: @font-size-base*3.35;
				text-transform: uppercase;
				font-size: 32px;
		}

		p {
				color: #ffffff;
				text-align: left;
				font-size: 18px;
		}
	}

	.carousel-stars {
		

		h1 {
				color: #ABCED4;
				font-family: "DIN Condensed", "Arial Narrow", verdana;
				text-align: left;
				font-size: 35px;
				text-transform: uppercase;
		}

		h3 {
				color: #ABCED4;
				text-align: left;
				font-family: 'Brush Script MT', 'Script MT Bold', Cursive;
				font-size: 54px;
				font-style: normal;
				font-variant: normal;
				font-weight: 500;
				line-height: 26.3999996185303px;
				text-transform: lowercase;
				text-indent: -50px;
				@media @tablet-port { text-align: center; }
				@media @tablet-port { text-align: center; }
				@media @mobile-port { text-align: center; }
				@media @mobile-port { text-align: center; }
		}

		p {
				color: #ABCED4;
				text-align: left;
		}

		img { padding: 0px;
		}

		a {

		}
		color: @star-blue;
		text-decoration:none;
		cursor: pointer; cursor: hand; 
	}

	.tablewhite tbody td {
			font-family: DIN Alternate;
			font-size: 20px;
			color: #fff;
			padding:3px;
	}

	.date-label {
  			background: #f5f5f5;
  			display: inline-block;
  			width: 53px;
  			height: 57px;
  			text-align: center!important;
  			font-size: 13px;
  			font-family: DIN Alternate;
	}
	.month {
	  		background: #61F0FF;
	  		color: white;
	  		display: block;
	  		font-size: 17px;
	  		text-transform: uppercase;
	  		text-align: center!important;
	}
	.date-number {
	  		clear: left;
	  		display: block;
	  		padding-top: 5px;
	  		font-size: 16px;
	  		font-family: 'open sans', arial, sans-serif;
	  		font-weight: 700;
	  		text-align: center!important;
	  		color: @brand-darkblue;
	  		
	}

	.slide-author {
		background: #ececef;
		padding-top: 10px;
		padding-bottom: 0px;
		border-radius: 3px;
		max-width: 500px;
		p { 
			margin-right: 35px; 
			color: #c1c1c3;
			font-size: 15px;
			text-transform: uppercase;
		}	

		h5 {
		font-size: 20px;
		color: #c1c1c3;
		font-weight: bold;
		margin-bottom: (@vert-gap*-0.4);
		
		margin-right: 35px;
		a {
			color: #c1c1c3;
			text-decoration: none;
			&:hover { color: #c1c1c3; }
			}
		}

		a { 
			display: inline-block;
			margin-right: 4px;
			margin-bottom: 4px;
			text-decoration: none;
			color: #c1c1c3;
			border-bottom: 1px solid transparent;
			&:hover {
				color: #c1c1c3;;
				border-bottom: 1px solid #c1c1c3;;
			}
		}


	}

	.author {
		position: absolute;
		left: 15%;
	  	right: 90%;
	 	bottom: 380px;
	 	z-index: 180;
	  	padding-top: 20px;
	  	padding-bottom: 20px;
	  	font-color: #fff;
	  	width: 30%;
	  	text-align: left;
	  	text-transform: uppercase;
	  	font-size: 23px;

	  	& .btn {
	    text-shadow: none; // No shadow for button elements in carousel-caption
	}
		background: #ececef;

		height: 85px;
		padding-top: 15px;
		border-radius: 3px;
		p { 
			margin-right: 35px; 
			color: #c1c1c3;
			font-size: 12px;
		}	

		h5 {
		font-size: @font-size-base*.8;
		color: #c1c1c3;
		font-weight: bold;
		margin-bottom: (@vert-gap*-0.4);
		
		margin-right: 35px;
		a {
			color: #c1c1c3;
			text-decoration: none;
			&:hover { color: #c1c1c3; }
			}
		}

		a { 
			display: inline-block;
			margin-right: 4px;
			margin-bottom: 4px;
			text-decoration: none;
			color: #c1c1c3;
			border-bottom: 1px solid transparent;
			&:hover {
				color: #c1c1c3;;
				border-bottom: 1px solid #c1c1c3;;
			}
		}

	.face-img {
		position: relative;
		overflow: hidden;
		border-radius: 4px;
		width: 60px;
		height: 60px;


			&:hover {
				.meta {
					bottom: 0px;
					.opacity(1, 100);
				}
			}
		}
	}

	.article-title {
	  position: absolute;
	  font-color: #fff;
	  text-transform: uppercase;
	  font-size: 21px;
	  text-shadow: @carousel-text-shadow;
	  & .btn {
	    text-shadow: none; // No shadow for button elements in carousel-caption
	  }
	  h2{
	  	color: #fff;
	  }
	}
	.article-summary {

	  position: absolute;

	  color: #fff;
	  font-size: 24px;
	  text-shadow: @carousel-text-shadow;
	  & .btn {
	    text-shadow: none; // No shadow for button elements in carousel-caption
	  }
	  h4{
	  	color: @gray-dark;
	  }

	}

	.fill {
	    width: 100%;
	    height: 100%;
	    background-position: center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}



	.sign-up {
		position: relative;
		z-index: 1;
		width: 100%;
		background-size: cover;
		padding: (@vert-gap*1.5) 0 0 0;

		@media @tablet-port { text-align: center; }
		h1 {
			color: #dd7373;
			font-family: "DIN Condensed", "Arail Narrow", verdana;
		}	
		h2, h3, h4, p {
			color: #dd7373;
			font-family: "DIN Alternate", "Arail Narrow", verdana;

		}
		a { 
				display: inline-block;
				margin-right: 4px;
				margin-bottom: 4px;
				text-decoration: none;
				border-bottom: 1px solid transparent;
				color: #dd7373;
				&:hover {
					color: darken(#dd7373, 10%);
					
				}
			}
		margin: 10px auto (@vert-gap/1.5) auto;
		form {
			.form-control {
				float: left;
				width: 100%;
				height: 55px;
				border-radius: 4px;
				border-color:#fff;
				margin-bottom: 5px;


			}
		}	

	}

	.grid-view {



		h1, {
			color: @brand-green-light;
			font-size: @font-size-base*3.35;
			font-family: "DIN Condensed", "Arail Narrow", verdana;
			font-weight: bold;
		}
		.post {
			width: 100%;

			
			
			
			
			.featured-img {
				position: relative;
				overflow: hidden;
				width: 260px;
				height: 200px;

				.meta {
					position: absolute;
					width: 100%;
					padding: 10px 15px;
					text-align: center;
					background: @brand-primary;
					.background-rgba(@brand-primary, 0.8);
					left: 0;
					bottom: -45px;
					opacity: 0;
					.transition(all, 0.3s);
					a {
						color: #fff;
						text-decoration: none;
						margin: 0 10px;
						.opacity(1, 100);
						i {
							font-size: 1.1em;
							margin-right: 8px;
						}
						&:hover { opacity: 1.7; }
					}
				}
				&:hover {
					.meta {
						bottom: 0px;
						.opacity(1.7);
					}
				}
			}
			footer {
				
			}
			a { 
					display: inline-block;
					margin-right: 4px;
					
					padding-top: -4px;
					text-decoration: underline;
					color: #7e7777;
					border-bottom: 1px solid transparent;
					&:hover {
						color: #c1c1c3;;
						border-bottom: 1px solid #c1c1c3;;
					}
				}

		.heading {
			min-height: 78px!important;
			min-height: 78px!important;

			h3 {
				font-size: @font-size-base*1.25;
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: (@vert-gap*0.2);
				color: #7e7777;
				min-height: 50px;
				a {
					color: #c1c1c3;
					text-decoration: none;
					&:hover { color: #c1c1c3; }
				}
			}

		}	
		.summary {
			min-height: 90px;
			max-height: 90px;
			p { 
				margin-bottom: (@vert-gap/1.5); 
				color: #7e7777;
			}

		}

		.details {
			p, h5 {
  				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 135px;
			}
		}		
			h3 {
				font-size: @font-size-base*1.25;
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: (@vert-gap*0.2);
				color: #7e7777;
				min-height: 50px;
				a {
					color: #c1c1c3;
					text-decoration: none;
					&:hover { color: #c1c1c3; }
				}
			}
			
			p { 
				margin-bottom: (@vert-gap/1.5); 
				color: #7e7777;
			}
			.devider {
				display: block;
				width: 50px;
				height: 1px;
				background: @text-color;
				margin-bottom: (@vert-gap/2.5);
			}
			.taxonomy {
					background: #ececef;
					width: 100%;
					height: 75px;
					padding-top: 15px;
					margin-bottom: 20px;
					border-radius: 3px;
				p { 
					margin-right: 35px; 
					color: #c1c1c3;
					font-size: 12px;
				}	

				h5 {
				font-size: @font-size-base*.9;
				color: #c1c1c3;
				font-weight: bold;
				margin-bottom: (@vert-gap*-0.4);
				
				margin-right: 35px;
				a {
					color: #c1c1c3;
					text-decoration: none;
					&:hover { color: #c1c1c3; }
					}
				}

				a { 
					display: inline-block;
					margin-right: 4px;
					margin-bottom: 4px;
					text-decoration: none;
					color: #c1c1c3;
					border-bottom: 1px solid transparent;
					&:hover {
						color: #c1c1c3;;
						border-bottom: 1px solid #c1c1c3;;
					}
				}

				.face-img {
				position: relative;
				overflow: hidden;
				width: 50px;
				height: 50px;
				border-radius: 3px;


				&:hover {
					.meta {
						bottom: 0px;
						.opacity(1, 100);
					}
				}
			}
			}
		}
	}


}

//
// Landing Authed
// --------------------------------------------------

.landing-authed {
	position: relative;
	z-index: 1;
	width: 100%;

		.face-img {
		position: relative;
		
		width: 240px;
		height: 240px;
		border-radius: 3px;


			&:hover {
				.meta {
					bottom: 0px;
					.opacity(1, 100);
				}
			}
		}

	h1 {
			color: #fff;
			font-family: "DIN Alternate", "Arail Narrow", verdana;

		}

	.nav-section{
		height: 290px;
		border-radius: 2px;

		a{
			font-size: 40px;
			margin-bottom: 25px;
			text-decoration: none;
			font-style: normal!important;
		}
		p{
			
			margin-top: 13px;
			text-transform: uppercase;
			font-size: 13px;
			font-family: "DIN Alternate", "Arail Narrow", verdana;
			color: @brand-primary;

		}
	}	

	.user-landing{
		margin-top: 50px;
		padding-top: 40px;
		border-radius: 2px;
		border-width: 1px;
		border-style: dashed;
		color: #fff;

	}	
	
	@media @tablet-port { text-align: center; }

	.carousel,
	.item {
		 height: 100%;
		 background: #333; 
		 text-align: center;
	}
	.active {
	    height: 100%;
	}

	.carousel-inner {
	    height: 100%;
	}

	.author {
		position: absolute;
		left: 15%;
	  	right: 90%;
	 	bottom: 380px;
	 	z-index: 180;
	  	padding-top: 20px;
	  	padding-bottom: 20px;
	  	font-color: #fff;
	  	width: 30%;
	  	text-align: left;
	  	text-transform: uppercase;
	  	font-size: 23px;

	  	& .btn {
	    text-shadow: none; // No shadow for button elements in carousel-caption
	}
		background: #ececef;

		height: 85px;
		padding-top: 15px;
		border-radius: 3px;
		p { 
			margin-right: 35px; 
			color: #c1c1c3;
			font-size: 12px;
		}	

		h5 {
		font-size: @font-size-base*.8;
		color: #c1c1c3;
		font-weight: bold;
		margin-bottom: (@vert-gap*-0.4);
		
		margin-right: 35px;
		a {
			color: #c1c1c3;
			text-decoration: none;
			&:hover { color: #c1c1c3; }
			}
		}

		a { 
			display: inline-block;
			margin-right: 4px;
			margin-bottom: 4px;
			text-decoration: none;
			color: #c1c1c3;
			border-bottom: 1px solid transparent;
			&:hover {
				color: #c1c1c3;;
				border-bottom: 1px solid #c1c1c3;;
			}
		}


	}


	.article-title {
	  position: absolute;
	  left: 15%;
	  right: 90%;
	  bottom: 220px;
	  min-height: 60px;
	  z-index: 180;
	  padding-top: 20px;
	  padding-bottom: 20px;
	  font-color: #fff;
	  width: 80%;
	  text-align: left;
	  text-transform: uppercase;
	  font-size: 30px;
	  text-shadow: @carousel-text-shadow;
	  & .btn {
	    text-shadow: none; // No shadow for button elements in carousel-caption
	  }
	  h2{
	  	color: #fff;
	  }
	}
	.article-summary {

	  position: absolute;
	  left: 15%;
	  right: 90%;
	  bottom: 150px;
	  min-height: 85px;
	  max-height: 85px;
	  z-index: 180;
	  padding-top: 20px;
	  padding-bottom: 20px;
	  color: #fff;
	  width: 50%;
	  text-align: left;
	  font-size: 24px;
	  text-shadow: @carousel-text-shadow;
	  & .btn {
	    text-shadow: none; // No shadow for button elements in carousel-caption
	  }
	  h4{
	  	color: @gray-dark;
	  }

	}

	.fill {
	    width: 100%;
	    height: 100%;
	    background-position: center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}



	.sign-up {
		position: relative;
		z-index: 1;
		width: 100%;
		background-size: cover;
		padding: (@vert-gap*1.5) 0 0 0;

		@media @tablet-port { text-align: center; }
		h1, h2, h3, h4, p {
			color: #dd7373;
			font-family: "DIN Alternate", "Arail Narrow", verdana;

		}
		a { 
				display: inline-block;
				margin-right: 4px;
				margin-bottom: 4px;
				text-decoration: none;
				border-bottom: 1px solid transparent;
				color: #dd7373;
				&:hover {
					color: darken(#dd7373, 10%);
					
				}
			}
		margin: 10px auto (@vert-gap/1.5) auto;
		form {
			.form-control {
				float: left;
				width: 100%;
				height: 55px;
				border-radius: 4px;
				border-color:#fff;
				@media @desktop { width: 80%; }
				@media @tablet-land { width: 75%; }
				@media @tablet-land { height: 75%; }
				@media @tablet-port { width: 83%; }
				@media @tablet-land { height: 60%; }
				@media @mobile-port { width: 70%; }
				@media @mobile-land { height: 50%; }

			}
		}	

	}

	.grid-view {

		margin-left: -25px;

		h1, {
			color: @brand-green-light;
			font-size: @font-size-base*2.95;
			font-family: "DIN Alternate", "Arail Narrow", verdana;
			word-spacing: -8px;
			font-weight: bold;
		}
		.post {
			width: 100%;

			
			
			.featured-img {
				position: relative;
				overflow: hidden;
				width: 260px;
				height: 200px;

				.meta {
					position: absolute;
					width: 100%;
					padding: 10px 15px;
					text-align: center;
					background: @brand-primary;
					.background-rgba(@brand-primary, 0.8);
					left: 0;
					bottom: -45px;
					opacity: 0;
					.transition(all, 0.3s);
					a {
						color: #fff;
						text-decoration: none;
						margin: 0 10px;
						.opacity(1, 100);
						i {
							font-size: 1.1em;
							margin-right: 8px;
						}
						&:hover { opacity: 0.7; }
					}
				}
				&:hover {
					.meta {
						bottom: 0px;
						.opacity(1, 100);
					}
				}
			}
			footer {


				.footer-img {
					margin-bottom: 40px;
				}
				
			}
			a { 
					display: inline-block;
					margin-right: 4px;
					margin-bottom: 4px;
					padding-top: -4px;
					text-decoration: underline;
					color: #fff;
					border-bottom: 1px solid transparent;
					&:hover {
						color: #c1c1c3;;
						border-bottom: 1px solid #c1c1c3;;
					}
				}
			h3 {
				min-height: 98px;
				font-size: @font-size-base*1.25;
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: (@vert-gap*0.2);
				color: #fff;
				a {
					color: #c1c1c3;
					text-decoration: none;
					&:hover { color: #c1c1c3; }
				}
			}
			
			p { 
				margin-bottom: (@vert-gap/1.5); 
				color: #fff;
				min-height: 90px;
				max-height: 90px;
			}
			.devider {
				display: block;
				width: 50px;
				height: 1px;
				background: @text-color;
				margin-bottom: (@vert-gap/2.5);
			}
			.taxonomy {
					background: #ececef;
					width: 100%;
					height: 75px;
					padding-top: 15px;
					border-radius: 3px;
				p { 
					margin-right: 35px; 
					color: #c1c1c3;
					font-size: 12px;
				}	

				h5 {
				font-size: @font-size-base*.9;
				color: #c1c1c3;
				font-weight: bold;
				margin-bottom: (@vert-gap*-0.4);
				
				margin-right: 35px;
				a {
					color: #c1c1c3;
					text-decoration: none;
					&:hover { color: #c1c1c3; }
					}
				}

				a { 
					display: inline-block;
					margin-right: 4px;
					margin-bottom: 4px;
					text-decoration: none;
					color: #c1c1c3;
					border-bottom: 1px solid transparent;
					&:hover {
						color: #c1c1c3;;
						border-bottom: 1px solid #c1c1c3;;
					}
				}

				.profile-img {
				position: relative;
				overflow: hidden;
				width: 50px;
				height: 50px;


				&:hover {
					.meta {
						bottom: 0px;
						.opacity(1, 100);
					}
				}
			}
			}
		}
	}


}