//
// Article
// --------------------------------------------------
.article-list {

	.article-box{
	border-radius: 2px;
		
	.add-article-form {

		
		.add-box{
			padding-top: 15px;
			padding-right: 29px;
		border-radius: 2px;
				@media @desktop { width: 80%; }
				@media @tablet-land { padding-right: 2px; }
				@media @tablet-land { padding-right: 2px; }
				@media @tablet-port { padding-right: 2px; }
				@media @tablet-port { padding-right: 2px; }
				@media @mobile-port { padding-right: 2px; }
				@media @mobile-port { padding-right: 2px; }

		
		
	}
				
		@media @tablet-port { text-align: center; }
		h1, h2, h3, h4, p {
			color: @brand-primary;
			font-family: "DIN Alternate","trebuchet ms", sans-serif;
			margin-bottom: 5px;
		}

		a { 
				display: inline-block;
				margin-right: 4px;
				margin-bottom: 4px;
				text-decoration: none;
				border-bottom: 1px solid transparent;
				color: #dd7373;
				&:hover {
					color: darken(#dd7373, 10%);
					
				}
			}
		margin: 10px auto (@vert-gap/1.5) auto;
		form {
			.form-control {
				float: left;
				width: 100%;
				height: 60px;
				border-radius-left: 0px;
				border-radius-top-right: 4px;
				
				border-color:#fff;
				background-color: @gray-light;


			}

			.input-group-addon {

				border-color:#fff;
				margin-bottom: 10px;
				background-color: @gray-light;

		}
		}
			

	}
	}
}

.list {

		  .gridPersonsList {
		    border: 1px solid #fff;
		    width: 100%;
		    height: 500px;
		    background: @brand-primary-light;
		    border-radius: 3px;
		 
			}	

		.gridarticlesList {
		    
		    border: 1px solid #fff;
		    width: 100%;
		    height: 500px;
		    background: @brand-primary-light;
		    border-radius: 3px;
		 
			}	

		.gridSchoolsList {
		    
		    border: 1px solid #fff;
		    width: 100%;
		    height: 500px;
		    background: @brand-primary-light;
		    border-radius: 3px;
		 
			}		

		  	.ngHeaderCell {
	    	padding-top: 15px;
		    background-color: @brand-primary !important;
		    width: 100%;
		    bottom: 15;
		    color: #fff !important;
		    position: absolute;
		    font-size: 15px;
		    text-align: center;
		    font-family: "DIN Alternate","trebuchet ms", sans-serif;
		    top: 15;
		}

		.ngHeaderContainer {
			
			height: 60px;
			background-color: @brand-primary !important;
			
		}

		.ngRow {
			background-color: @brand-primary-light;
		}

		.ngCell {
			background-color: @brand-primary-light;
		}

		.ngCellText {
			font-size: 14px;
		    text-align: center;
		    font-family: "DIN Alternate","trebuchet ms", sans-serif;
		    color:  @gray-dark;
		}

		.ngVerticalBarVisible {
			background-color: @brand-primary;
			border: none;  
		}

}

