//
// Profiles
// --------------------------------------------------


.profiles {

	.grid-view {



		h1, {
			color: @brand-green-light;
			font-size: @font-size-base*3.35;
			font-family: "DIN Condensed", "Arail Narrow", verdana;
			font-weight: bold;
		}
		.post {
			width: 100%;

			
			
			
			
			.featured-img {
				position: relative;
				overflow: hidden;
				width: 260px;
				height: 200px;

				.meta {
					position: absolute;
					width: 100%;
					padding: 10px 15px;
					text-align: center;
					background: @brand-primary;
					.background-rgba(@brand-primary, 0.8);
					left: 0;
					bottom: -45px;
					opacity: 0;
					.transition(all, 0.3s);
					a {
						color: #fff;
						text-decoration: none;
						margin: 0 10px;
						.opacity(1, 100);
						i {
							font-size: 1.1em;
							margin-right: 8px;
						}
						&:hover { opacity: 1.7; }
					}
				}
				&:hover {
					.meta {
						bottom: 0px;
						.opacity(1.7);
					}
				}
			}
			footer {
				
			}
			a { 
					display: inline-block;
					margin-right: 4px;
					
					padding-top: -4px;
					text-decoration: underline;
					color: #7e7777;
					border-bottom: 1px solid transparent;
					&:hover {
						color: #c1c1c3;;
						border-bottom: 1px solid #c1c1c3;;
					}
				}

		.heading {
			min-height: 78px;
			min-height: 78px;

			h3 {
				font-size: @font-size-base*1.25;
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: (@vert-gap*0.2);
				color: #7e7777;
				min-height: 50px;
				a {
					color: #c1c1c3;
					text-decoration: none;
					&:hover { color: #c1c1c3; }
				}
			}

		}	
		.summary {
			min-height: 90px;
			max-height: 90px;
			p { 
				margin-bottom: (@vert-gap/1.5); 
				color: #7e7777;
			}

		}

		.details {
			p, h5 {
  				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 135px;
			}
		}		
			h3 {
				font-size: @font-size-base*1.25;
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: (@vert-gap*0.2);
				color: #7e7777;
				min-height: 50px;
				a {
					color: #c1c1c3;
					text-decoration: none;
					&:hover { color: #c1c1c3; }
				}
			}
			
			p { 
				margin-bottom: (@vert-gap/1.5); 
				color: #7e7777;
			}
			.devider {
				display: block;
				width: 50px;
				height: 1px;
				background: @text-color;
				margin-bottom: (@vert-gap/2.5);
			}
			.taxonomy {
					background: #ececef;
					width: 100%;
					height: 75px;
					padding-top: 15px;
					margin-bottom: 20px;
					border-radius: 3px;
				p { 
					margin-right: 35px; 
					color: #c1c1c3;
					font-size: 12px;
				}	

				h5 {
				font-size: @font-size-base*.9;
				color: #c1c1c3;
				font-weight: bold;
				margin-bottom: (@vert-gap*-0.4);
				
				margin-right: 35px;
				a {
					color: #c1c1c3;
					text-decoration: none;
					&:hover { color: #c1c1c3; }
					}
				}

				a { 
					display: inline-block;
					margin-right: 4px;
					margin-bottom: 4px;
					text-decoration: none;
					color: #c1c1c3;
					border-bottom: 1px solid transparent;
					&:hover {
						color: #c1c1c3;;
						border-bottom: 1px solid #c1c1c3;;
					}
				}

				.face-img {
				position: relative;
				overflow: hidden;
				width: 50px;
				height: 50px;
				border-radius: 3px;


				&:hover {
					.meta {
						bottom: 0px;
						.opacity(1, 100);
					}
				}
			}
			}
		}
	}

	.face-img {
		position: relative;
		
		width: 240px;
		height: 240px;
		border-radius: 3px;


			&:hover {
				.meta {
					bottom: 0px;
					.opacity(1, 100);
				}
			}
		}

	.profile-block{
		h2 {
			color: @brand-light-red;
			font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;
		}
		p {
				color: #6A6464;
				font-family: "DIN Alternate","trebuchet ms", sans-serif;

			}
		i {
			color: @brand-light-red;
		}
	}

	.about-school {
		h1 {
				color: #313131;
				font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;
				text-transform: uppercase;
		}
		h2, h3, h4, p {
				color: #6A6464;
				font-family: "DIN Alternate","trebuchet ms", sans-serif;
				text-align: left;

			}
			
		.img{
			border-radius: 3px;
		}

		.school-img {
				position: relative;
				overflow: hidden;
				width: 240px;
				height:240px;
				border-radius: 3px;
		}

		.person-img {
				position: relative;
				overflow: hidden;
				width: 250px;
				height:250px;
				border-radius: 3px;
		}


	}

	.container {
		border-radius:3px;
	}

	.sign-up {
		position: relative;
		z-index: 1;
		width: 100%;
		background-size: cover;
		padding: (@vert-gap*1.5) 0 0 0;

		@media @tablet-port { text-align: center; }
		h1 {
			color: #dd7373;
			font-family: "DIN Condensed", "DIN Alternate","trebuchet ms", sans-serif;
		}	
		h2, h3, h4, p {
			color: #dd7373;
			font-family: "DIN Alternate","trebuchet ms", sans-serif;

		}
		a { 
				display: inline-block;
				margin-right: 4px;
				margin-bottom: 4px;
				text-decoration: none;
				border-bottom: 1px solid transparent;
				color: #dd7373;
				&:hover {
					color: darken(#dd7373, 10%);
					
				}
			}
		margin: 10px auto (@vert-gap/1.5) auto;
		form {
			.form-control {
				float: left;
				width: 100%;
				height: 55px;
				border-radius: 4px;
				border-color:#fff;
				margin-bottom: 5px;


			}
		}	

	}



.grid-view {



		h1, {
			color: @brand-green-light;
			font-size: @font-size-base*3.35;
			font-family: "DIN Condensed", "Arail Narrow", verdana;
			font-weight: bold;
		}
		.post {
			width: 100%;

			
			
			
			
			.featured-img {
				position: relative;
				overflow: hidden;
				width: 260px;
				height: 200px;

				.meta {
					position: absolute;
					width: 100%;
					padding: 10px 15px;
					text-align: center;
					background: @brand-primary;
					.background-rgba(@brand-primary, 0.8);
					left: 0;
					bottom: -45px;
					opacity: 0;
					.transition(all, 0.3s);
					a {
						color: #fff;
						text-decoration: none;
						margin: 0 10px;
						.opacity(1, 100);
						i {
							font-size: 1.1em;
							margin-right: 8px;
						}
						&:hover { opacity: 1.7; }
					}
				}
				&:hover {
					.meta {
						bottom: 0px;
						.opacity(1.7);
					}
				}
			}
			footer {
				
			}
			a { 
					display: inline-block;
					margin-right: 4px;
					
					padding-top: -4px;
					text-decoration: underline;
					color: #7e7777;
					border-bottom: 1px solid transparent;
					&:hover {
						color: #c1c1c3;;
						border-bottom: 1px solid #c1c1c3;;
					}
				}

		.heading {
			min-height: 98px;

			h3 {
				font-size: @font-size-base*1.25;
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: (@vert-gap*0.2);
				color: #7e7777;
				min-height: 50px;
				a {
					color: #c1c1c3;
					text-decoration: none;
					&:hover { color: #c1c1c3; }
				}
			}

		}	
		.summary {
			min-height: 90px;
			max-height: 90px;
			p { 
				margin-bottom: (@vert-gap/1.5); 
				color: #7e7777;
			}

		}	
		.details {
			p, h5 {
  				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 135px;
			}
		}
			h3 {
				font-size: @font-size-base*1.25;
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: (@vert-gap*0.2);
				color: #7e7777;
				min-height: 50px;
				a {
					color: #c1c1c3;
					text-decoration: none;
					&:hover { color: #c1c1c3; }
				}
			}
			
			p { 
				margin-bottom: (@vert-gap/1.5); 
				color: #7e7777;
			}
			.devider {
				display: block;
				width: 50px;
				height: 1px;
				background: @text-color;
				margin-bottom: (@vert-gap/2.5);
			}
			.taxonomy {
					background: #ececef;
					width: 100%;
					height: 75px;
					padding-top: 15px;
					margin-bottom: 20px;
					border-radius: 3px;
				p { 
					margin-right: 35px; 
					color: #c1c1c3;
					font-size: 12px;
				}	

				h5 {
				font-size: @font-size-base*.9;
				color: #c1c1c3;
				font-weight: bold;
				margin-bottom: (@vert-gap*-0.4);
				
				margin-right: 35px;
				a {
					color: #c1c1c3;
					text-decoration: none;
					&:hover { color: #c1c1c3; }
					}
				}

				a { 
					display: inline-block;
					margin-right: 4px;
					margin-bottom: 4px;
					text-decoration: none;
					color: #c1c1c3;
					border-bottom: 1px solid transparent;
					&:hover {
						color: #c1c1c3;;
						border-bottom: 1px solid #c1c1c3;;
					}
				}

				.face-img {
				position: relative;
				overflow: hidden;
				width: 50px;
				height: 50px;
				border-radius: 3px;


				&:hover {
					.meta {
						bottom: 0px;
						.opacity(1, 100);
					}
				}
			}
			}
		}
	}
}