//
// Scaffolding
// --------------------------------------------------

html { font-size: 100%; }
html, body { height: 100%; }
body {
	background-repeat: repeat;
}
.gray-bg {
	background: @gray-lighter;
	padding: (@vert-gap*1.65) 0 !important;
}

.darkblue-bg {
	background: @brand-darkblue;
	padding: (@vert-gap*1.65) 0 !important;
}

.orange-bg {
	background: @brand-orange;
	padding: (@vert-gap*1.65) 0 !important;
}


.brand-light-bg {
	background: @brand-primary-light;
	padding: (@vert-gap*1.65) 0 !important;
}

.slider-bg  {
	background: url(img/home/1.jpg);
	padding: (@vert-gap*1.65) 0 !important;
}

.footer-bg  {
	background: url(img/footer/footer-bg.png);
	padding: (@vert-gap*1.65) 0 !important;
}

.footer-kids-bg  {
	background-image: url(img/footer/kids.png);
	padding: (@vert-gap*1.65) 0 !important;
}

.white-bg {
	background: @brand-white;
	padding: (@vert-gap*1.65) 0 !important;
}

.green-bg {
	background: @brand-green2;
	padding: (@vert-gap*1.65) 0 !important;
}

.yellow-bg {
	background: @yellow-lighter;
	padding: (@vert-gap*1.65) 0 !important;
}

.light-blue-bg {
	background: @blue-lighter;
	padding: (@vert-gap*1.65) 0 !important;
}

.center-mobile {
	@media @tablet-port { text-align: center !important; }
}
.center-tablet {
	@media @tablet-land { text-align: center !important; }
}
iframe {
	width: 100%;
	border: none;
}

//--Layout
//-------------------------
.site-layout {
	max-width: 100%;
	margin: auto;
	background: #fff;
	transition: max-width 0.25s;
	&.boxed {
		position: relative;
		width: 100%;
		max-width: 1200px;
		margin: auto;
		overflow: hidden !important;
		-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.17);
		-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.17);
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.17);
	}
}
.ie .site-layout.boxed {
	border-right: 1px solid @gray-border;
	border-left: 1px solid @gray-border;
}

//--Clearfix
//-------------------------
.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

//--Page Blocks
//-------------------------
.page-block {
	width: 100%;
	padding: (@vert-gap*1.5) 0 @vert-gap 0;
	@media @tablet-port { padding: @vert-gap 0 (@vert-gap*0.8) 0; }
}

//--All Images responsive
//-------------------------
img {
  .img-responsive(); //All Images responsive
}
.img-rounded {
	.border-radius();
}
.img-circle {
	.border-round();
}

//--Text Selection Color
//-------------------------
::selection { color: #fff; background:@text-color; }
::-moz-selection { color: #fff; background: @text-color; }

//--Extra Space Classes
//-------------------------
.space-top {
	margin-top: @vert-gap;
	@media @tablet-port { margin-top: (@vert-gap*0.8); }
}
.space-bottom { 
	margin-bottom: @vert-gap;
	@media @tablet-port { margin-bottom: (@vert-gap*0.8); }
}
.double-space-top {
	margin-top: (@vert-gap*2);
	@media @tablet-port { margin-top: (@vert-gap*1.3); }
}
.double-space-bottom {
	margin-bottom: (@vert-gap*2);
	@media @tablet-port { margin-bottom: (@vert-gap*1.3); }
}
.double-padding-top {
	padding-top: (@vert-gap*2) !important;
	@media @tablet-port { padding-top: (@vert-gap*1.3) !important; }
}
.double-padding-bottom {
	padding-bottom: (@vert-gap*2) !important;
	@media @tablet-port { padding-bottom: (@vert-gap*1.3) !important; }
}
.no-space-top { margin-top: 0 !important; }
.no-space-bottom { margin-bottom: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }