//
// Sidebar
// --------------------------------------------------

.sidebar {
	position: relative;
	width: 100%;
	max-width: 400px;
	padding-bottom: 1px;
	@media @tablet-land {
		margin-top: @vert-gap;
		border-top: 1px solid @gray-border;
		padding-top: @vert-gap;
	}
	&:before {
		position: absolute;
		content: '';
		width: 1px;
		min-height: 100%;
		background: @gray-border;
		@media @tablet-land { display: none; }
	}
	&.no-devider {
		&:before { display: none; }
	}
	&.no-devider.right {
		padding-left: 10px !important;
		@media @tablet-land { padding-left: 0 !important; }
	}
	&.no-devider.left {
		padding-right: 10px !important;
		@media @tablet-land { padding-right: 0 !important; }
	}
	&.right {
		padding-left: 30px;
		@media @tablet-land { padding-left: 0; }
		&:before {
			top: 0;
			left: 0;
		}
	}
	&.left {
		padding-right: 30px;
		@media @tablet-land { padding-right: 0; }
		&:before {
			top: 0;
			right: 0;
		}
	}
	.widget {
		margin-bottom: @vert-gap;
		&:last-child { margin-bottom: (@vert-gap/2); }
		h3 {
			font-size: (@font-size-base*1.25);
			font-weight: bold;
		}
		
		//Featured Posts Widget
		&.featured-posts {
			.post {
				margin-bottom: (@vert-gap/2);
				h4, h5 {
					margin-bottom: (@vert-gap*0.2);
					a {
						color: @text-color;
						text-decoration: none;
						&:hover { color: @brand-primary; }
					}
				}
				.devider {
					display: block;
					width: 50px;
					height: 1px;
					background: @text-color;
					@media @tablet-port { margin: auto; }
				}
				.meta {
					margin-top: (@vert-gap*0.2);
					font-size: @font-size-small;
					.left, .right {
						float: left;
					}
					.left { width: 65%; }
					.right { width: 35%; }
					a { 
						display: inline-block;
						margin-right: 4px;
						margin-bottom: 4px;
						text-decoration: none;
						border-bottom: 1px solid transparent;
						&:hover {
							color: @brand-primary;
							border-bottom: 1px solid @brand-primary;
						}
					}
					span {
						margin-right: 4px;
						margin-bottom: 4px;
					}
				}
			}
		}
		
		//Blog Categories Widget
		&.categories {
			.category {
				margin-bottom: (@vert-gap/3);
				.cat-icon {
					float: left;
					margin-right: 15px;
					font-size: 2.8em;
				}
				.cat-text {
					float: left;
					h4 {
						margin: 5px 0 (@vert-gap*0.15) 0;
						font-size: @font-size-base;
						a {
							text-decoration: none;
							color: @text-color;
							&:hover { color: @brand-primary; }
						}
					}
					p { font-size: @font-size-small; margin-bottom: 0; }
				}
				&:after {
					visibility: hidden;
					display: block;
					content: "";
					clear: both;
					height: 0;
				}
			}
		}
		
		//Search Widget
		&.search {
			form {
				position: relative;
				.form-control { padding-right: 45px; }
				button[type=submit] {
					position: absolute;
					top: 3px;
					right: 12px;
					background: none;
					border: none;
					outline: none;
					font-size: 1.5em;
					i { display: inline-block; .transition(color, 0.25s); }
					&:hover i { color: @brand-primary; }
				}
			}
		}
		
		//Subscribe Widget
		&.subscribe {
			form {
				.form-control {
					float: left;
					width: 82%;
					@media @desktop { width: 78%; }
					@media @tablet-land {  width: 85%;  }
					@media @mobile-port {  width: 80%;  }
				}
				button[type=submit] {
					float: right;
					width: 40px;
					height: 38px;
					.border-radius();
					background: @brand-primary;
					border: none;
					color: #fff;
					font-size: 1.3em;
					.transition(background, 0.3s);
					&:hover { background: darken(@brand-primary, 10%); }
				}
				&:after {
					visibility: hidden;
					display: block;
					content: "";
					clear: both;
					height: 0;
				}
			}
		}
		
		//Shop Categories / Links Widget
		&.shop-categories, &.shop-links {
			h3 {
				font-weight: normal;
				font-size: @font-size-large;
				margin-bottom: 10px;
			}
			a {
				color: @text-color;
				text-decoration: none;
				&:hover { color: @brand-primary; }
			}
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				li { margin-bottom: 3px; }
			}
			.all a {
				color: @brand-primary;
				padding-bottom: 2px;
				border-bottom: 1px solid transparent;
				&:hover { border-color: @brand-primary; }
			}
			.category {
				margin-bottom: (@vert-gap/1.2);
				h4 {
					font-size: @font-size-large;
					font-weight: bold;
					margin-bottom: 4px;
				}
			}
		}
		&.shop-links {
			border-bottom: 1px solid @gray-border;
			padding-bottom: (@vert-gap/2);
			margin-bottom:  (@vert-gap/1.5);
		}
		
		//Shop Filters
		&.shop-filters {
			position: relative;
			border-bottom: 1px solid @gray-border;
			padding-bottom: (@vert-gap/2);
			margin-bottom:  (@vert-gap/1.5);
			h3 {
				font-weight: normal;
				font-size: @font-size-large;
				margin-bottom: 10px;
				width: 60%;
			}
			.checkbox, .radio { margin-bottom: (@vert-gap/3); }
			.clear {
				display: block;
				position: absolute;
				top: 5px;
				right: 0;
				font-size: @font-size-small;
				color: @brand-primary;
				padding-bottom: 1px;
				border-bottom: 1px solid transparent;
				cursor: pointer;
				.transition(border, 0.3s);
				&:hover { border-bottom: 1px solid @brand-primary; }
			}
		}
		
		//Shopping Cart Content
		&.cart-content {
			padding-top: (@vert-gap/2);
			.item {
				position: relative;
				padding-bottom: (@vert-gap/2);
				.thumb {
					display: table;
					margin: auto;
				}
				h4 {
					font-size: @font-size-base;
					font-weight: bold;
					a {
						color: @text-color;
						text-decoration: none;
						&:hover { color: @brand-primary; }
					}
				}
				.price {
					margin-top: (@vert-gap/2.5);
					text-transform: uppercase;
					span { color: @brand-primary; }
				}
				.qnt-count {
					width: 100px;
					margin-top: (@vert-gap/2);
					.incr-btn {
						display: block;
						float: left;
						background: @gray-light;
						color: @text-color;
						width: 21px;
						height: 28px;
						padding-top: 6px;
						text-decoration: none;
						text-align: center;
						.border-radius();
						-webkit-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.12);
						-moz-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.12);
						box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.12);
						.transition(all, 0.25s);
						&:hover {
							color: #fff;
							background: @brand-primary;
							-webkit-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0);
							-moz-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0);
							box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0);
						}
						&.inactive {
							.opacity(0.5, 50);
							cursor: default;
							&:hover {
								background: @gray-light;
								color: @text-color;
								-webkit-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.12);
								-moz-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.12);
								box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.12);
							}
						}
					}
					.quantity {
						display: block;
						float: left;
						width: 50px;
						padding-left: 8px;
						padding-right: 8px;
						text-align: center;
						border: none;
						background: none;
						outline: none;
					}
					&:after {
						visibility: hidden;
						display: block;
						content: "";
						clear: both;
						height: 0;
					}
				}
			}
			.devider {
				width: 100%;
				height: 1px;
				background: @gray-border;
				margin-bottom: (@vert-gap/1.4);
			}
		}
		
		//Shopping Cart Totlas
		&.cart-totals {
			table {
				width: 100%;
				border-bottom: 1px solid @gray-border;
				td { padding-bottom: 9px; }
				&.total {
					border: none;
					font-size: 1.25em;
					font-weight: bold;
					text-transform: uppercase;
					td { padding-top: 9px; padding-bottom: 0; }
				}
			}
		}
		
		//Coupone Field
		&.coupone-field {
			.promo-code {
				.form-control {
					float: left;
					width: 62%;
					@media @desktop { width: 55%; }
					@media @tablet-land { width: 72%; }
					@media @mobile-port { width: 65%; }
				}
				.btn {
					float: right;
					padding: 5px 18px !important;
					margin-right: 0 !important;
					&.disabled { color: @gray-darker !important; }
				}
			}
		}
		
		.btn-block {
			margin: (@vert-gap/1.5) 0 (@vert-gap/2) 0 !important;
		}
		p { margin-bottom: (@vert-gap/2); }
	}
}

// Sidebar Button
// --------------------------------------------------
.sidebar-button {
	display: none;
	position: fixed;
	z-index: 10;
	width: 42px;
	height: 42px;
	.border-radius();
	color: #fff;
	text-align: center;
	font-size: 1.25em;
	background: @brand-primary;
	left: 10px;
	bottom: 10px;
	padding-top: 7px;
	.transition(all, 0.1s);
	&:hover { color: #fff; background: darken(@brand-primary, 10%); }
	@media @tablet-land { display: block; }
}

