//
// Variables
// ---------------------------------------------------

//-- Colors
//----------------------------------------------------
@gray-darker:            #3f4040;
@gray-dark:              #797979;
@gray:                   #e1e4e6;
@gray-light:             #e7ecee;
@gray-lighter:           #f2f4f5;
@yellow-lighter:         #ffd06f;
@blue-lighter:			 #eef4f4;
@star-blue:			     #61F0FF;
@mustard:			     #a5a545;
@cat-profile:			 #60a89c;
@cat-sports:			 #ffa453;
@cat-multimedia:		 #60a0b9;
@cat-entertainment:		 #dd7373;
@cat-all:		 		 #232726;
@brand-pale-blue:        #ABCED4;
@brand-light-red:        #e55e65;
@brand-default: 		 #cacaca; 
@brand-primary:          #a4c6cc;
@brand-primary-light:    #9ED5D5;
@brand-blue:         	 #004F79;
@brand-lightblue:        #61F0FF;
@brand-green:         	 #82b270;
@brand-green2:         	 #94d7ca;
@brand-green-light:      #65a89b;
@brand-yellow:         	 #f9ce77;
@brand-purple:           #9F58AC;
@brand-success:          #5cb85c;
@brand-info:             #5bc0de;
@brand-warning:          #ffce00;
@brand-danger:           #cc3333;
@brand-white:         	 #ffffff;
@brand-darkblue:         #002635;
@brand-orange:			 #F9D280;

//-- Scaffolding 
//## Background color and global text-color on <body>
@body-bg:               #fff;
@text-color:            #000;
@gray-text: 			#b2b2b2; 

//-- Global textual link color
//------------------------------------------------
@link-color:            @brand-primary;
@link-hover-color:      darken(@link-color, 10%);

//-- Icons Primary color
//------------------------------------------------
@iconColor: 						@brand-primary;

//-- Vertical gap, line height
//---------------------------------
@vert-gap:									24px;
@line-height:         			1.75;
@line-height-sm:						1.57;

//== Typography
//----------------------------------------------------------------

@font-family-sans-serif:   Helvetica, Arial, sans-serif;

@font-size-base:          1em;
@font-size-large:         1.125em;
@font-size-small:         0.875em;

@font-size-h1:            (@font-size-base * 3.75); // 3.75em
@font-size-h2:            (@font-size-base * 2.5); // 2.5em
@font-size-h3:            (@font-size-base * 1.875); // 1.875em
@font-size-h4:            (@font-size-base * 1.25); // 1.25em
@font-size-h5:            @font-size-base;
@font-size-h6:            (@font-size-base * 0.875); // 0.875em

@headings-font-family:    "DIN Alternate", "trebuchet ms", sans-serif;
@headings-line-height:    1.5;
@headings-color:          inherit;

//-- Border radius
//---------------------------------
@border-radius-base:        4px;
@border-radius-round:       50%;

//-- Border color (Deviders, Element Borders, etc.)
//----------------------------------------------------------------
@gray-border:						#cecece; 


//-- Buttons

//## Normal Buttons
//------------------------------------------------
@btn-font-size:                	 @font-size-small;
@btn-font-weight:                normal;

@btn-default-color:              #fff;
@btn-default-bg:                 @brand-default;

@btn-blue-color:              	#fff;
@btn-blue-bg:                 	@brand-blue;

@btn-green-color:              	#fff;
@btn-green-bg:                 	@brand-green;

@btn-green-light-color:         #fff;
@btn-green-light-bg:            @brand-green-light;

@btn-brand-light-color:        	#fff;
@btn-brand-light-bg:            @brand-primary-light;

@btn-yellow-color:              #fff;
@btn-yellow-bg:                 @brand-yellow;

@btn-mustard-color:              #fff;
@btn-mustard-bg:                 @mustard;

@btn-cat-profile-color:              #fff;
@btn-cat-profile-bg:            	@cat-profile;

@btn-cat-sports-color:              #fff;
@btn-cat-sports-bg:            	@cat-sports;

@btn-cat-multimedia-color:              #fff;
@btn-cat-multimedia-bg:            	@cat-multimedia;

@btn-cat-entertainment-color:              #fff;
@btn-cat-entertainment-bg:            	@cat-entertainment;

@btn-cat-all-color:              #fff;
@btn-cat-all-bg:            	@cat-all;

@btn-purple-color:              #fff;
@btn-purple-bg:                 @brand-purple;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-primary;

@btn-success-color:              #fff;
@btn-success-bg:                 @brand-success;

@btn-info-color:                 #fff;
@btn-info-bg:                    @brand-info;

@btn-warning-color:              #fff;
@btn-warning-bg:                 @brand-warning;

@btn-danger-color:               #fff;
@btn-danger-bg:                  @brand-danger;

//## Outlined Buttons
//-----------------------------------------------
@btn-outlined-default-color:     		@brand-default;
@btn-outlined-default-border:       1px solid @brand-default;

@btn-outlined-primary-color:        @brand-primary;
@btn-outlined-primary-border:       1px solid @brand-primary;

@btn-outlined-success-color:        @brand-success;
@btn-outlined-success-border:       1px solid @brand-success;

@btn-outlined-info-color:           @brand-info;
@btn-outlined-info-border:          1px solid @brand-info;

@btn-outlined-warning-color:        @brand-warning;
@btn-outlined-warning-border:       1px solid @brand-warning;

@btn-outlined-danger-color:         @brand-danger;
@btn-outlined-danger-border:        1px solid @brand-danger;

//-- Forms
//-----------------------------------
@input-height-base: 			30px;
@input-height-lg:					38px;
@input-color:							#000;
@input-border-color:			#b6b6b6;
@input-border-invert:			#fff;
@input-border-radius:			0px;
@legend-color:            @gray-dark;
@legend-border-color:     #e5e5e5;

//-- Header / Navigation
//-----------------------------------
@header-height: 					90px;
@header-scroller-height: 	60px;
@header-mobile-height: 		90px;
@search-height:						200px;
@header-border-color:			#d8d8d8;
@carousel-control-opacity:            0;

@delay: 3;

//-- Navigation
//-----------------------------------
@off-canvas-menu-width: 	260px;
@submenu-width:						195px;
@submenu-border-color:		#cecece;

//-- Hero
//-----------------------------------
@hero-static-height:			500px;
@hero-parallax-height:			680px;

//-- Modals
//-----------------------------------
@modal-content-bg:						#fff;
@modal-backdrop-bg:           @brand-default;
@modal-backdrop-opacity:      .85;
@modal-header-border-color:   @brand-success;

//-- Footer
//---------------------------------
@footer-bg: @gray-dark;

//-- Media queries breakpoints
//------------------------------------------------------
@menu-collapse:	 ~"only screen and (max-width: 1024px)";
@desktop:   		 ~"only screen and (max-width: 1200px)";
@tablet-land:    ~"only screen and (max-width: 991px)";
@tablet-port:    ~"only screen and (max-width: 768px)";
@mobile-land:		 ~"only screen and (max-width: 480px)";
@mobile-port:		 ~"only screen and (max-width: 360px)";