//
// Widgets
// ---------------------------------------------------


//--Sticky Buttons (Quick Mail, Scroll Up)
//----------------------------------------------------
.sticky-btns {
	position: fixed;
	z-index: 50;
	right: -48px;
	bottom: 10px;
	.transition(right, 0.3s);
	&.scrolled {
		right: 3px;
	}
	span {
		display: block;
		float: left;
		width: 42px;
		height: 42px;
		text-align: center;
		font-size: 1.25em;
		color: #fff;
		background: @brand-primary;
		.border-radius();
		padding-top: 6px;
		margin: 0 5px;
		cursor: pointer;
		.transition(background, 0.3s);
		&:hover { background: darken(@brand-primary, 10%); }
		&#scrollTop-btn {
			padding-top: 5px;
		}
	}
	#qcf-btn {
		&.active {
			-webkit-border-radius: 0 0 @border-radius-base @border-radius-base !important;
			-moz-border-radius:  0 0 @border-radius-base @border-radius-base !important;
			border-radius:  0 0 @border-radius-base @border-radius-base !important;
		}
		@media @tablet-port { display: none; }
	}
	&:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}
	.quick-contact {
		display: none;
		width: 280px;
		bottom: 52px;
		left: -233px;
		position: absolute;
		padding: (@vert-gap/2) 20px @vert-gap 20px;
		background: #fff;
		background: rgba(255,255,255,0.95);
		border: 1px solid @gray-border;
		&.visible { 
			display: block;
			-webkit-animation-duration: 0.3s;
			animation-duration: 0.3s;
			-webkit-animation-name: fadeIn;
			animation-name: fadeIn;
		}
		h3 {
			font-size: (@font-size-base*1.375);
			margin-bottom: (@vert-gap/2);
		}
		p { margin-bottom: (@vert-gap/2); }
		.form-group { margin-bottom: (@vert-gap/2); }
		textarea {
			width: 238px;
			max-width: 238px;
			height: 90px;
			max-height: 90px;
			resize: none;
			overflow-y: auto;
		}
		input[type=submit] { margin-top: @vert-gap; }
	}
}
