<!DOCTYPE html>
<html>
<head>
  <title>Liefie Hymne</title><meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  <meta name="robots" content="noindex"/>
  <link rel="shortcut icon" href="images/logo.ico"/>

  <link type="text/css" rel="stylesheet" href="css/styles.css">
  <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="css/ng-grid.min.css">

  <link type="text/css" rel="stylesheet" href="css/login.css">
  <link type="text/css" rel="stylesheet" href="css/header-scroll.css">
  <link type="text/css" rel="stylesheet" href="css/ng-img-crop.css">

  <style>
    .navbar-collapse ul {
      margin-top: 20px;
    }
    .logo {
      width: 20%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .mypointer {
      cursor: pointer;
    }
    .time {
        text-align: left;
        width: 100%;
        font-size: 16px;
    }
    .page-top-padding {
    padding-top:60px;
  }



  </style>


</head>


<body ng-app="main_app">


  <header class="smaller">
    <div class="container clearfix" ng-controller="menu_controller">
        <h1 id="logo">
            Liefie Hymne se Website
        </h1>
        <nav>
            <a class="mypointer" ng-click="landing_button()">Home</a>
            <a class="mypointer" ng-click="data_list_button()">Data List</a>
            <a class="mypointer" ng-click="data_add_button()">Add Data</a>
       </nav>

    </div>
  </header>

  <div class="container-fluid">
      <ng-view>
      </ng-view>
  </div>

  <footer class="footer light-blue-bg">
    <!--Copyright-->
    
    <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 hidden-sm hidden-xs">
        <h5>Copyright&copy; 2015 Liefie Hymne | All rights reserved </h5>
        </div>
     </div> 
    </div>
    </div>

</footer>

  <script type="text/javascript" src="lib/jquery.min.js"></script>
  <script type="text/javascript" src="lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="lib/angular.min.js"></script>
  <script type="text/javascript" src="lib/angular-route.min.js"></script>
  <script type="text/javascript" src="lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
  <script type="text/javascript" src="lib/moment.min.js"></script>
  <script type="text/javascript" src="lib/ng-img-crop.min.js"></script>

  <script type="text/javascript" src="lib/ng-grid-2.0.11.min.js"></script>

  <script type="text/javascript" src='lib/lodash.underscore.min.js'></script>

  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/init.js"></script>
  <script type="text/javascript" src="js/util.js"></script>
  <script type="text/javascript" src="js/menu.js"></script>
  <script type="text/javascript" src="js/lookups.js"></script>
  <script type="text/javascript" src="js/header-on-scroll.js"></script>

  <script type="text/javascript" src="src/new/landing.js"></script>

  <script type="text/javascript" src="src/new/data_list.js"></script>
  <script type="text/javascript" src="src/new/data_view.js"></script>
  <script type="text/javascript" src="src/new/data_edit.js"></script>

  <script type="text/javascript" src="src/files/files.js"></script>



</body>
</html>