<!-- <style type="text/css">
  .gridClientsList .ngHeaderContainer {
     height: 500px;
     background-color: #67103e !important;
  }


</style> -->


<style>
.mypointer {
      cursor: pointer;
    }
.auction-card {
    img, {
          max-height: 50px;
      }
}

h2 {
    text-align: center;
    margin: 30px 0;
}
.demo-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 100px;
}

.auctions {
  background-color: #336699;
}
h4.title {
  text-align: center;
}

.filter-card {
  width: 100%;
  margin: 0 auto 20px;
}
.gridClientsList {
border: 1px solid rgb(212,212,212);
width: 100%;
height: 500px;
}
/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    /*background-color: rgb(66, 139, 202);*/
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}
.show-hide{
  /*background-color: rgb(66, 139, 202);*/
  
}
.form-control{
  font-size: 18px;
  height:40px;
}
</style>


<div class="row"  >
    <div class="col-md-12">
    <br/>
        <center><h2>My Products</h2></center>
    </div>
</div>



<div class="col-md-10 col-md-offset-1" >


<div class="card">
  <div class="card-header">
    Filter
  </div>
  <br/>
<!--   <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <div class="form-group" > 
        <input type="text" class="form-control" name="search_item" id="search_item" ng-model="ui.search_item" placeholder="Collection" ng-required="true"/>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
    <label class="control-label" for="auction">Collection</label>
      <select class="form-control" id="Collection" ng-options="o._id as o.name for o in lookup_collections" ng-model="collection_id"></select>
    </div>
  </div>
  
 <div class="row">
    <br/>
    <div class="col-md-4 col-md-offset-1">
    <button class="btn btn-primary" ng-click="product_list_merchant2()">Load</button>
    </div>
  </div>
  <br/>
  <!-- <p>&nbsp;</p> -->
</div> <!-- class="col-md-3"   --> 

</div>


  <div class="col-md-10 col-md-offset-1">
    <div class="gridClientsList"  ng-grid="grid_options" ></div>
  </div>

<p>&nbsp;</p>


  <!-- <p ng-bind='ui |json'></p> -->
<!--   <div class="col-md-10 col-md-offset-1">
    <h3>
      <a ng-show="pg.page > 1" ng-href="#/product_list?page=1">&lt;&lt;&nbsp;&nbsp;</a>
      <a ng-show="pg.page > 1" ng-href="#/product_list?page={{pg.page - 1}}">&lt;&nbsp;&nbsp;</a>
      Page {{pg.page}} of {{pg.pages}} 
      <a ng-show="pg.page < pg.pages" ng-href="#/product_list?page={{pg.page + 1}}">&nbsp;&nbsp;&gt;</a> 
      <a ng-show="pg.page < pg.pages" ng-href="#/product_list?page={{pg.pages}}">&nbsp;&nbsp;&gt;&gt;</a>
    </h3>
    <h1></h1>
    <br>
    <p></p>
  </div> -->
<p>&nbsp;</p>
  <div class="col-md-10 col-md-offset-1">
    <h4>
      <a style="font-size: 200%" class='mypointer' ng-show="pg.page > 1" ng-click="page_button(1)">&lt;&lt;&nbsp;&nbsp;</a>
      <a style="font-size: 200%" class='mypointer' ng-show="pg.page > 1" ng-click="page_button(pg.page - 1)">&lt;&nbsp;&nbsp;</a>
      Page {{pg.page}} of {{pg.pages}} 
      <a style="font-size: 200%" class='mypointer' ng-show="pg.page < pg.pages" ng-click="page_button(pg.page + 1)">&nbsp;&nbsp;&gt;</a> 
      <a style="font-size: 200%" class='mypointer' ng-show="pg.page < pg.pages" ng-click="page_button(pg.pages)">&nbsp;&nbsp;&gt;&gt;</a>
    </h4>
  </div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<!-- <script type="text/javascript">
  
  $(function () {
    $('.list-group.checked-list-box .list-group-item').each(function () {
        
        // Settings
        var $widget = $(this),
            $checkbox = $('<input type="checkbox" class="hidden" />'),
            color = ($widget.data('color') ? $widget.data('color') : "primary"),
            style = ($widget.data('style') == "button" ? "btn-" : "list-group-item-"),
            settings = {
                on: {
                    icon: 'glyphicon glyphicon-check'
                },
                off: {
                    icon: 'glyphicon glyphicon-unchecked'
                }
            };
            
        $widget.css('cursor', 'pointer')
        $widget.append($checkbox);

        // Event Handlers
        $widget.on('click', function () {
            $checkbox.prop('checked', !$checkbox.is(':checked'));
            $checkbox.triggerHandler('change');
            updateDisplay();
        });
        $checkbox.on('change', function () {
            updateDisplay();
        });
          

        // Actions
        function updateDisplay() {
            var isChecked = $checkbox.is(':checked');

            // Set the button's state
            $widget.data('state', (isChecked) ? "on" : "off");

            // Set the button's icon
            $widget.find('.state-icon')
                .removeClass()
                .addClass('state-icon ' + settings[$widget.data('state')].icon);

            // Update the button's color
            if (isChecked) {
                $widget.addClass(style + color + ' active');
            } else {
                $widget.removeClass(style + color + ' active');
            }
        }

        // Initialization
        function init() {
            
            if ($widget.data('checked') == true) {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
            }
            
            updateDisplay();

            // Inject the icon if applicable
            if ($widget.find('.state-icon').length == 0) {
                $widget.prepend('<span class="state-icon ' + settings[$widget.data('state')].icon + '"></span>');
            }
        }
        init();
    });
    
    $('#get-checked-data').on('click', function(event) {
        event.preventDefault(); 
        var checkedItems = {}, counter = 0;
        $("#check-list-box li.active").each(function(idx, li) {
            checkedItems[counter] = $(li).text();
            counter++;
        });
        $('#display-json').html(JSON.stringify(checkedItems, null, '\t'));
    });
});
</script> -->
