<style>
.imagesimgdiv{
  height: 250px;
  width: 250px;
  border-style: solid;
  border-width: 1px;
  border-color: @brand-primary;
  border-radius: 3px;
  margin-left: -34px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.imagesimg{
  max-height: 148px;
  max-width: 148px;
  border-style: none;
  border-width: 0px;
  margin: 0px;
}
</style>

<div class="add-Item">

<div class="container ">
    <center><h2>Add New Item</h2></center>
      <form class=" add-box" name="userForm" novalidate>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
              <hr/>
          </div>
        </div>


<!-- <p ng-bind="ui | json"></p> -->


        <!-- Select the type of stock, that is according to your rights there will be radio buttons availible to choose on of the following 
        Medals / Minerals  / Beatles / Books -->


        <!-- Choose between straight sale or auction or upload without assigning it to a specific one "not assigned", but only if that option is availible to you as to your permissions -->


        <!-- Then show in a dropdown only if the Item is to be added to an auction and  only show the auctions that have still to start and that are of the same type as the radio button above suggested -->


        <!-- Depending on the option made in the first section, Minerals / Medals / Books / Beatles the rest of this form should be spesific to that type of product -->
        <!-- <p ng-bind="ui | json"> </p> -->

      <div class="row" >
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.collection_id.$invalid && uidirty}">
            <label class="control-label" for="auction">Collection</label>
            <select ng-model="ui.collection_id" class="form-control" name="collection_id" id="collection_id"
              ng-options="o.id as o.desc for o in lookup_collections">
            </select>
            <!-- <p ng-show="userForm.item_type_sale.$invalid && uidirty" class="help-block">An Auction is Required.</p> -->
          </div>
        </div>
      </div>

<!--       <div class="row" ng-show="ui.type_sale == 'Part of Auction'">
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.auction_id.$invalid && uidirty}">
            <label class="control-label" for="auction">Auction Name</label>
            <select ng-model="ui.auction_id" class="form-control" name="auction_id" id="auction_id"
              ng-options="o._id as o.name for o in ui_auction_list" >
            </select>
            <p ng-show="userForm.auction_id.$invalid && uidirty" class="help-block">An Auction is Required.</p>
          </div>
        </div>
      </div>
 -->

<!--       <div class="row" >
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.mineral_size_type.$invalid && uidirty}">
            <label class="control-label" for="auction">Type of Item</label>
            <select ng-model="ui.item_type" class="form-control" name="type" id="type"
              ng-options="o.id as o.desc for o in rs.lookup.item_type" >
            </select>
            <p ng-show="userForm.mineral_size_type.$invalid && uidirty" class="help-block">An Item Type is Required.</p>
          </div>
        </div>
      </div>
 -->
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.title.$invalid && uidirty}">
            <label class="control-label" for="title">Item Title</label>
            <input type="text" class="form-control" name="title" id="title" ng-model="ui.title" ng-required="true" placeholder="Enter Title"/>
            <p ng-show="userForm.title.$invalid && uidirty" class="help-block">Item Name is Required.</p>
          </div>
        </div>
      </div>

      <div class="row" ng-show="ui.item_type == 'Mineral'">
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.mineral_size_type.$invalid && uidirty}">
            <label class="control-label" for="auction">Item Size Category</label>
            <select ng-model="ui.mineral_size_type" class="form-control" name="mineral_size_type" id="mineral_size_type"
              ng-options="o.id as o.desc for o in rs.lookup.mineral_size_type" >
            </select>
            <p ng-show="userForm.mineral_size_type.$invalid && uidirty" class="help-block">An Item Size Category is Required.</p>
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.description_short.$invalid && uidirty}">
            <label class="control-label" for="description_short">Short Description</label>
            <input type="text" class="form-control" name="description_short" id="description_short" ng-model="ui.description_short" placeholder="Enter Short Description ..."/>
            <p ng-show="userForm.description_short.$invalid && uidirty" class="help-block">Item Name is Required.</p>
          </div>
        </div>
      </div>

      <div class="row" >      
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.description_long.$invalid && uidirty}">
            <label class="control-label" for="description_long">Long Description</label>
            <textarea type="text" class="form-control" rows="30" cols="80" style="height:150px"  name="description_long" id="description_long" ng-model="ui.description_long" placeholder="Write about your Item here..."></textarea>
            <p ng-show="userForm.description_long.$invalid && uidirty" class="help-block">Item Long Description is required.</p>
          </div>
        </div>
      </div>

      <div class="row" ng-show="ui.item_type == 'Mineral'">
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.mineral_size.$invalid && uidirty}">
            <label class="control-label" for="mineral_size">Item Size</label>
            <input type="text" class="form-control" name="mineral_size" id="mineral_size" ng-model="ui.mineral_size" placeholder="Enter Mineral Size"/>
            <p ng-show="userForm.mineral_size.$invalid && uidirty" class="help-block">Item Size is Required.</p>
          </div>
        </div>
      </div>

      <div class="row" ng-show="ui.item_type == 'Mineral'">
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.weight.$invalid && uidirty}">
            <label class="control-label" for="weight">Item Weight</label>
            <input type="text" class="form-control" name="weight" id="weight" ng-model="ui.weight" placeholder="Enter Mineral Weight"/>
            <p ng-show="userForm.weight.$invalid && uidirty" class="help-block">Item Weight is Required.</p>
          </div>
        </div>
      </div>

      <div class="row" >      
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.comments.$invalid && uidirty}">
            <label class="control-label" for="comments">Comments</label>
            <textarea type="text" class="form-control" rows="30" cols="80" style="height:150px"  name="comments" id="comments" ng-model="ui.comments" placeholder="Write comments here..."></textarea>
            <p ng-show="userForm.comments.$invalid && uidirty" class="help-block">Item Comments is required.</p>
          </div>
        </div>
      </div>

<!--       <div class="row" ng-show="ui.type_sale === 'Part of Auction'">
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.start_price.$invalid && uidirty}">
            <label class="control-label" for="start_price">Auction Starting Price in USD - $</label>
            <div class="input-group">  
              <input type="text" class="form-control" name="start_price" id="start_price" ng-model="ui.start_price" placeholder="Enter Starting Price in USD - $"/>
              <span class="input-group-addon">$ - USD</span>
              <p ng-show="userForm.start_price.$invalid && uidirty" class="help-block">Item starting price is required.</p>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row" > <!-- ng-show="ui.type_sale === 'Shop Item'" -->
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.price.$invalid && uidirty}">
            <label class="control-label" for="price">Price in USD - $</label>
            <div class="input-group">  
              <input type="text" class="form-control" name="price" id="price" ng-model="ui.price" placeholder="Enter Straight Price in USD - $"/>
              <span class="input-group-addon">$ - USD</span>
              <p ng-show="userForm.price.$invalid && uidirty" class="help-block">Item Straight Price is required.</p>
            </div>
          </div>
        </div>
      </div>

<!--       <div class="row" >
        <div class="col-md-6 col-md-offset-3" >
          <div class="form-group" ng-class="{ 'has-error' : userForm.desired_price.$invalid && uidirty}">
            <label class="control-label" for="desired_price">Desired Price in USD - $   -   Please note that this will not be visible to the bidders</label>
            <div class="input-group">  
              <input type="text" class="form-control" name="desired_price" id="desired_price" ng-model="ui.desired_price" placeholder="Enter Desired Price in USD - $"/>
              <span class="input-group-addon">$ - USD</span>
              <p ng-show="userForm.desired_price.$invalid && uidirty" class="help-block">Item desired price is required.</p>
            </div>
          </div>
        </div>
      </div>
 -->
      <br/>
      <br/>
      <!-- <p ng-bind="ui | json"></p> -->
      <div class="col-md-12 col-sm-offset-3">
        <div ng-repeat="a in ui.images" style="border:1px; border-color:#000; border-style:solid; width:363px ">
          <div style="display:inline-block;">
            <img ng-src="{{rs.api_hymne_files}}/{{a.file_name}}" style="width:360px">
            <button type="button" class="btn-brand-light btn-list-search" ng-click="main_pic_upload($index)"><i class="fa fa-upload"></i></button>
            <button type="button" class="btn-brand-light btn-list-search" ng-click="pic_select($index)"><i class="fa fa-th"></i></button>
            <!-- <button type="button" class="btn-brand-light btn-list-search" ng-click="gallery_pic_crop($index)"><i class="fa fa-crop"></i></button> -->
            <button type="button" class="btn-brand-light btn-list-search" ng-click="images_remove($index)"><i class="fa fa-times"></i></button>
            <br/>
          </div>
          <br/>
          <div class="radio">
            <label>
                &nbsp; <input type="radio" name="main" value="true" ng-model="a.main" ng-click="setChoice($index)">
                &nbsp;Main Picture
            </label>
          </div>
        </div>
        <a ng-click="images_add_pic()" class="btn btn-primary pull-left btn-md"><i class="fa fa-cloud-upload"></i> Add Image</a>
        <br/>
      </div>
      <br/>


      <div class="row" >  <!-- ng-show="ui.item_type == 'Mineral'" -->
        <div class="col-md-6 col-md-offset-3"> 
          <label class="control-label" for="fluores_yn"><input type="checkbox" ng-model="ui.fluores_yn"> Is the Item Fluorescent</label>
<!--           <div class="col-md-12">
            <input type="checkbox" ng-model="ui.fluores_yn"><br/>
          </div> -->
        </div>
      </div>

      <div class="row" >  <!-- ng-show="ui.item_type == 'Mineral'" -->
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group">
            <label class="control-label" for="fluores_color">Item Fluorescent Colour</label>
            <input type="text" class="form-control" name="fluores_color" id="fluores_color" ng-model="ui.fluores_color" placeholder="Enter Item Fluorescent Colour"/>
          </div>
        </div>
      </div>

<!--       <div class="row" >
        <div class="col-md-6 col-md-offset-3"> 
          <label class="control-label" for="exceptional_yn">This is an Exceptional Item</label>
          <div class="col-md-12">
            <input type="checkbox" ng-model="ui.exceptional_yn"><br/>
          </div>
        </div>
      </div>
 -->
<!--       <div class="row" >
        <div class="col-md-6 col-md-offset-3"> 
          <label class="control-label" for="wholesaleflat_yn">This Item is to be sold as a Whole-sale Flat</label>
          <div class="col-md-12">
            <input type="checkbox" ng-model="ui.wholesaleflat_yn"><br/>
          </div>
        </div>
      </div>
 -->
<!--       <div class="row" >
        <div class="col-md-6 col-md-offset-3"> 
          <label class="control-label" for="onsale_yn">This Item is on Sale</label>
          <div class="col-md-12">
            <input type="checkbox" ng-model="ui.onsale_yn"><br/>
          </div>
        </div>
      </div>
 -->
<!--       <div class="row" ng-show="ui.onsale_yn === true">
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.sale_price.$invalid && uidirty}">
            <label class="control-label" for="sale_price">Sale Price in USD - $ </label>
            <div class="input-group">  
              <input type="text" class="form-control" name="sale_price" id="sale_price" ng-model="ui.sale_price" placeholder="Enter Sale Price in USD - $"/>
              <span class="input-group-addon">$ - USD</span>
              <p ng-show="userForm.sale_price.$invalid && uidirty" class="help-block">Item sale price is required.</p>
            </div>
          </div>
        </div>
      </div>
 -->
      <div class="row" >
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.origin.$invalid && uidirty}">
            <label class="control-label" for="origin">Please enter Items Origin</label>
            <input type="text" class="form-control" name="origin" id="origin" ng-model="ui.origin" placeholder="Enter place of origin"/>
            <p ng-show="userForm.origin.$invalid && uidirty" class="help-block">Item origin is Required.</p>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.origin.$invalid && uidirty}">
            <label class="control-label" for="auction">Please select Items Origin</label>
            <select ng-model="ui.origin" class="form-control" name="origin" id="origin"
              ng-options="o._id as o.name for o in ui_origin_list" >
            </select>
            <p ng-show="userForm.origin.$invalid && uidirty" class="help-block">Please select Origin.</p>
          </div>
        </div>
      </div> -->

      <div class="row" >
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.categories.$invalid && uidirty}">
            <label class="control-label" for="auction">Please select Items Category</label>
            <select ng-model="ui.categories" class="form-control" name="categories" id="categories"
              ng-options="o.id as o.desc for o in rs.lookup.categories" >
            </select>
            <p ng-show="userForm.categories.$invalid && uidirty" class="help-block">Please select Category.</p>
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.categories.$invalid && uidirty}">
            <label class="control-label" for="auction">Please select Special Characteristics</label>
            <select ng-model="ui.special_characteristics" class="form-control" name="special_characteristics" id="special_characteristics"
              ng-options="o.id as o.desc for o in rs.lookup.special_characteristics" >
            </select>
            <p ng-show="userForm.categories.$invalid && uidirty" class="help-block">Please select Special Characteristics.</p>
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.categories.$invalid && uidirty}">
            <label class="control-label" for="auction">Please select Items Special Class</label>
            <select ng-model="ui.special_class" class="form-control" name="special_class" id="special_class"
              ng-options="o.id as o.desc for o in rs.lookup.special_class" >
            </select>
            <p ng-show="userForm.categories.$invalid && uidirty" class="help-block">Please select Special Class.</p>
          </div>
        </div>
      </div>

<!--


      <div class="row" >
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.auction_id.$invalid && uidirty}">
            <label class="control-label" for="auction">Auction Name</label>
            <select ng-model="ui.auction_id" class="form-control" name="auction_id" id="auction_id"
              ng-options="o._id as o.name for o in ui_auction_list" ng-required="true" >
            </select>
            <p ng-show="userForm.auction_id.$invalid && uidirty" class="help-block">An Auction is Required.</p>
          </div>
        </div>
      </div>
      <br/>

      <div class="row" >
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.features.$invalid && uidirty}">
            <label class="control-label" for="auction">Special Features</label>
            <select ng-model="ui.features" class="form-control" name="features" id="features"
              ng-options="o.id as o.desc for o in rs.lookup_special_features" ng-required="true" >
            </select>
            <p ng-show="userForm.features.$invalid && uidirty" class="help-block">An Auction is Required.</p>
          </div>
        </div>
      </div>

      <br/>
      <div class="row" >
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.largestC.$invalid && uidirty}">
            <label class="control-label" for="largestC">Largest Crystal Size in cm</label>
          <div class="input-group">
            <input type="text" class="form-control" name="largestC" id="largestC" ng-model="ui.largestC" ng-required="true" placeholder="Enter Largest Crystal Size"/>
            <span class="input-group-addon">cm</span>
            <p ng-show="userForm.largestC.$invalid && uidirty" class="help-block">Item Main Crystal Size is required.</p>
          </div>
        </div>
      </div>
      <br/>
      <div class="row" >
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" ng-class="{ 'has-error' : userForm.weight.$invalid && uidirty}">
            <label class="control-label" for="weight">Weight in grams</label>
          <div class="input-group">
            <input type="text" class="form-control" name="weight" id="weight" ng-model="ui.weight" ng-required="true" placeholder="Enter Weight"/>
            <span class="input-group-addon">g</span>
            <p ng-show="userForm.weight.$invalid && uidirty" class="help-block">Item Weight is required.</p>
          </div>
        </div>
      </div>
       -->

      <div class="row" >
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group" >
           <button class="btn btn-primary btn-list-search" ng-click="product_update()">Submit Item</button>
          </div>
        </div>
      </div>




  </form>
  </div>
</section>
</div>





