
<style>
	.main-img {
		min-height:300px;
		max-height:300px;
	}
	.small-img {
		height:60px;
	}

	.card-min-height {
		min-height:711px;
	}
  .top-image {
    width: 630px;
  }

  .bottom-image {
    height: 90px;
    width: 126px!important;

    padding-left: 0px!important;
    padding-right: 0px!important;

    margin-left: 0px!important;
    margin-right: 0px!important;
    border: solid;
    border-width: 1px;

    float: left
  }
.card-text{
	font-size: 18px;
}

</style>

<p>&nbsp;</p>

<div class="row page-top-padding">
	<div class="col-md-6">

		<div class="col-md-12 panel panel-footer" style="background-color: white; border-color: lightgrey;">
        <img ng-src="{{rs.api_hymne_files}}/{{ui.image_main}}" class="top-image">
        <div class="row">
          <div class="col-md-12">
            <a ng-repeat ="o in ui.images" ng-click="ui.image_main = o.file_name"><img ng-src="{{rs.api_hymne_files100}}/{{o.file_name}}" class="bottom-image"></a>
          </div>
        </div>
    </div>


	</div>

	<div class="col-md-6">
		<div class="card ">   <!-- card-min-height -->

			<!--Taxonomy of Auction Merchant-->
<!-- 			<div class="col-md-12 green-bg">
                <div class="col-md-3">
                   	<img class="img-responsive" ng-src="{{rs.api_hymne}}/files/{{ui.merchant_avatar}}">
                 </div>
                 	<div class="col-md-9">
                   	<div class="row">
                     	<br>
                     	<h5 class="pull-left"><a ng-href="">{{ui.merchant_name}}</a> | <a href="" target="_blank"><i class="fa fa-facebook"></i></a> | <a href="" target="_blank"><i class="fa fa-twitter"></i></a></h5>
                   	</div>
                   	<div class="row">
                     	<p class="pull-left"> <a ng-href="">{{ui.auction_name}}&nbsp</a></p>
                    	<p class="pull-left"> <a ng-href=""><i class="fa fa-clock-o"></i> {{ui.time_remaining}}</a></p>
                   	</div>
                </div> 
          	</div> -->

          	<!-- Item Information -->
          	<br>
          	<center><h2><b>{{ui.title}}</b></h2></center>
          	<center><h3><b>Item #{{ui.product_no}}</b></h3></center>
			<div class="card-block">
				<p class="card-text"><b>Description:</b> 
				{{ui.description_long}}
				</p>
				<p class="card-text" ng-show="ui.description_short"> </br>
				{{ui.description_short}} 
				</p>
				<p class="card-text"><b>Price:</b> $ {{ ui.price}}</p>
				<p class="card-text"><b>Origin:</b> {{ui.origin}}</p>
				<p class="card-text"><b>Number of views:</b> {{ui.number_of_views}}</p>

				<p class="card-text"><b>Size range:</b> {{ui.mineral_size_type}}</p>
				<p class="card-text"><b>Size:</b> {{ui.mineral_size}}</p>
				<p class="card-text"><b>Weight:</b> {{ui.weight}}</p>
				<p class="card-text" ng-show="ui.legacy_category"><b>Legacy Category:</b> {{ui.legacy_category}}</p>
				<p class="card-text" ng-show="ui.legacy_origin"><b>Legacy Origin:</b> {{ui.legacy_origin}}</p>
				<p class="card-text"><b>Category:</b> {{ui.categories}}</p>
				<p class="card-text"><b>Shipping Price:</b> {{ui.ship_price}}</p>
			</div>

			<div class="card-block">
            <a ng-href="#/product_edit/{{ui._id}}" class="btn btn-primary">Edit</a>
        	</div>
		</div>
	</div>
	<br>
</div>






						