<style>
.imagesimgdiv{
  height: 250px;
  width: 250px;
  border-style: solid;
  border-width: 1px;
  border-color: @brand-primary;
  border-radius: 3px;
  margin-left: -34px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.imagesimg{
  max-height: 148px;
  max-width: 148px;
  border-style: none;
  border-width: 0px;
  margin: 0px;
}
.form-control{
  font-size: 18px;
  height:40px;
}
</style>
<!-- Styles on styles.css line 13760 -->

<div class="add-Item">

<div class="container ">
    <center><h2>Add New Item</h2></center>
      <form class=" add-box" name="userForm" novalidate>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
              <hr/>
          </div>
        </div>


<!-- <p ng-bind="ui | json"></p> -->

      <div class="row" >
        <div class="col-md-5 col-md-offset-1">


          <div class="form-group" ng-class="{ 'has-error' : userForm.collection_id.$invalid && uidirty}">
            <label class="control-label" for="auction">Collection</label>
            <select ng-model="ui.collection_id" class="form-control" name="collection_id" id="collection_id"
              ng-options="o._id as o.name for o in lookup_collections">
            </select>
            <!-- <p ng-show="userForm.item_type_sale.$invalid && uidirty" class="help-block">An Auction is Required.</p> -->
          </div>
        </div>

        <div class="col-md-5">
          <div class="form-group" ng-class="{ 'has-error' : userForm.type.$invalid && uidirty}">
            <label class="control-label" for="auction">Type</label>
            <select ng-model="ui.type" class="form-control" name="type" id="type"
              ng-options="o.id as o.desc for o in rs.lookup.type">
            </select>
            <!-- <p ng-show="userForm.item_type_sale.$invalid && uidirty" class="help-block">An Auction is Required.</p> -->
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-5 col-md-offset-1">

          <div class="form-group" ng-class="{ 'has-error' : userForm.title.$invalid && uidirty}">
            <label class="control-label" for="title">Item Title</label>
            <input type="text" class="form-control" name="title" id="title" ng-model="ui.title" ng-required="true" placeholder="Enter Title"/>
            <p ng-show="userForm.title.$invalid && uidirty" class="help-block">Item Name is Required.</p>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : userForm.description_short.$invalid && uidirty}">
            <label class="control-label" for="description_short">Short Description</label>
            <input type="text" class="form-control" name="description_short" id="description_short" ng-model="ui.description_short" placeholder="Enter Short Description ..."/>
            <p ng-show="userForm.description_short.$invalid && uidirty" class="help-block">Item Name is Required.</p>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : userForm.description_long.$invalid && uidirty}">
            <label class="control-label" for="description_long">Long Description</label>
            <textarea type="text" class="form-control" rows="30" cols="80" style="height:150px"  name="description_long" id="description_long" ng-model="ui.description_long" placeholder="Write about your Item here..."></textarea>
            <p ng-show="userForm.description_long.$invalid && uidirty" class="help-block">Item Long Description is required.</p>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : userForm.price.$invalid && uidirty}">
            <label class="control-label" for="price">Price in USD - $</label>
            <div class="input-group">  
              <input type="number" class="form-control" name="price" id="price" ng-model="ui.price" placeholder="Enter Straight Price in USD - $"/>
              <span class="input-group-addon">$ - USD</span>
              <p ng-show="userForm.price.$invalid && uidirty" class="help-block">Item Straight Price is required.</p>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : userForm.ship_price.$invalid && uidirty}">
            <label class="control-label" for="ship_price">Shipping Price in USD - $</label>
            <div class="input-group">  
              <input type="number" class="form-control" name="ship_price" id="ship_price" ng-model="ui.ship_price" placeholder="Enter Shipping Price in USD - $"/>
              <span class="input-group-addon">$ - USD</span>
              <p ng-show="userForm.ship_price.$invalid && uidirty" class="help-block">Item Straight Price is required.</p>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : userForm.comments.$invalid && uidirty}">
            <label class="control-label" for="comments"> Private Comments</label>
            <textarea type="text" class="form-control" rows="30" cols="80" style="height:150px"  name="comments" id="comments" ng-model="ui.comments" placeholder="Write comments here..."></textarea>
            <p ng-show="userForm.comments.$invalid && uidirty" class="help-block">Item Comments is required.</p>
          </div>
        </div>

        <div class="col-md-5 ">

          <div class="form-group" ng-class="{ 'has-error' : userForm.mineral_size_type.$invalid && uidirty}" ng-show="(ui.type === 'Minerals')">
            <label class="control-label" for="auction">Item Size Category</label>
            <select ng-model="ui.mineral_size_type" class="form-control" name="mineral_size_type" id="mineral_size_type"
              ng-options="o.id as o.desc for o in rs.lookup.mineral_size_type" >
            </select>
            <p ng-show="userForm.mineral_size_type.$invalid && uidirty" class="help-block">An Item Size Category is Required.</p>
          </div>

          <div class="row" ng-show="(ui.type === 'Minerals')">
            <div class="col-md-4">
              <div class="form-group" ng-class="{ 'has-error' : userForm.length.$invalid && uidirty}">
                <label class="control-label" for="length">Item length</label>
                <div class="input-group">  
                  <input type="number" class="form-control" name="length" id="length" ng-model="ui.length" placeholder="L"/>
                  <span class="input-group-addon">cm</span>
                  <p ng-show="userForm.length.$invalid && uidirty" class="help-block">Item length is required.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group" ng-class="{ 'has-error' : userForm.width.$invalid && uidirty}">
                <label class="control-label" for="width">Item width</label>
                <div class="input-group">  
                  <input type="number" class="form-control" name="width" id="width" ng-model="ui.width" placeholder="W"/>
                  <span class="input-group-addon">cm</span>
                  <p ng-show="userForm.width.$invalid && uidirty" class="help-block">Item width is required.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group" ng-class="{ 'has-error' : userForm.height.$invalid && uidirty}">
                <label class="control-label" for="height">Item height</label>
                <div class="input-group">  
                  <input type="number" class="form-control" name="height" id="height" ng-model="ui.height" placeholder="H"/>
                  <span class="input-group-addon">cm</span>
                  <p ng-show="userForm.height.$invalid && uidirty" class="help-block">Item height is required.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : userForm.weight.$invalid && uidirty}" ng-show="(ui.type === 'Minerals')">
            <label class="control-label" for="weight">Item Weight</label>
            <div class="input-group">  
              <input type="number" class="form-control" name="weight" id="weight" ng-model="ui.weight" placeholder="Weight in g"/>
              <span class="input-group-addon">g</span>
              <p ng-show="userForm.weight.$invalid && uidirty" class="help-block">Item weight is required.</p>
            </div>
          </div>

          <label class="control-label" for="fluores_yn" ng-show="(ui.type === 'Minerals')"><input type="checkbox" ng-model="ui.fluores_yn"> Is the Item Fluorescent</label>
<!--           <div class="col-md-12">
            <input type="checkbox" ng-model="ui.fluores_yn"><br/>
          </div> -->

          <div class="form-group" ng-show="(ui.type === 'Minerals')">
            <label class="control-label" for="fluores_color">Item Fluorescent Colour</label>
            <input type="text" class="form-control" name="fluores_color" id="fluores_color" ng-model="ui.fluores_color" placeholder="Enter Item Fluorescent Colour"/>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : userForm.origin.$invalid && uidirty}" ng-show="(ui.type === 'Minerals')">
            <label class="control-label" for="origin">Please enter Items Origin</label>
            <input type="text" class="form-control" name="origin" id="origin" ng-model="ui.origin" placeholder="Enter place of origin"/>
            <p ng-show="userForm.origin.$invalid && uidirty" class="help-block">Item origin is Required.</p>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : userForm.categories.$invalid && uidirty}" ng-show="(ui.type === 'Minerals')">
            <label class="control-label" for="auction">Please select Items Category</label>
            <select ng-model="ui.categories" class="form-control" name="categories" id="categories"
              ng-options="o.id as o.desc for o in rs.lookup.categories" >
            </select>
            <p ng-show="userForm.categories.$invalid && uidirty" class="help-block">Please select Category.</p>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : userForm.categories.$invalid && uidirty}" ng-show="(ui.type === 'Minerals')">
            <label class="control-label" for="auction">Please select Special Characteristics</label>
            <select ng-model="ui.special_characteristics" class="form-control" name="special_characteristics" id="special_characteristics"
              ng-options="o.id as o.desc for o in rs.lookup.special_characteristics" >
            </select>
            <p ng-show="userForm.categories.$invalid && uidirty" class="help-block">Please select Special Characteristics.</p>
          </div>


          <div class="form-group" ng-class="{ 'has-error' : userForm.categories.$invalid && uidirty}" ng-show="(ui.type === 'Minerals')">
            <label class="control-label" for="auction">Please select Items Special Class</label>
            <select ng-model="ui.special_class" class="form-control" name="special_class" id="special_class"
              ng-options="o.id as o.desc for o in rs.lookup.special_class" >
            </select>
            <p ng-show="userForm.categories.$invalid && uidirty" class="help-block">Please select Special Class.</p>
          </div>



        </div>
      </div>

      <br/>
      <br/>
      <!-- <p ng-bind="ui | json"></p> -->
      <div class="col-md-12 col-sm-offset-5">
        <div ng-repeat="a in ui.images" style="border:1px; border-color:#000; border-style:solid; width:363px ">
          <div style="display:inline-block;">
            <img ng-src="{{rs.api_generic_files}}/{{a.file_name}}" style="width:360px">
            <button type="button" class="btn-brand-light btn-list-search" ng-click="main_pic_upload($index)"><i class="fa fa-upload"></i></button>
            <button type="button" class="btn-brand-light btn-list-search" ng-click="pic_select($index)"><i class="fa fa-th"></i></button>
            <!-- <button type="button" class="btn-brand-light btn-list-search" ng-click="gallery_pic_crop($index)"><i class="fa fa-crop"></i></button> -->
            <button type="button" class="btn-brand-light btn-list-search" ng-click="images_remove($index)"><i class="fa fa-times"></i></button>
            <br/>
          </div>
          <br/>
          <div class="radio">
            <label>
                &nbsp; <input type="radio" name="main" value="true" ng-model="a.main" ng-click="setChoice($index)">
                &nbsp;Main Picture
            </label>
          </div>
        </div>
        <a ng-click="images_add_pic()" class="btn btn-primary pull-left btn-md"><i class="fa fa-cloud-upload"></i> Add Image</a>
        <br/>
      </div>
      <br/>

      <p>&nbsp;</p>
      <p>&nbsp;</p>

      <div class="row" >
        <div class="col-md-6 col-md-offset-5">
          <div class="form-group" >
           <button class="btn btn-primary btn-list-search" ng-click="product_update()">Submit Item</button>
          </div>
        </div>
      </div>


  </form>
  </div>
</section>
</div>





