<style>
.pointer {
    cursor: pointer;
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:300px;
  height:300px;
}
</style>



<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Pic Crop</h2>
  </div>
</div>

<div class="row ">
  <div class="col-md-10 col-md-offset-1 well">
    <!-- <p>{{myImage}}</p> -->
<!--     <img ng-src="{{rs.api_hymne_files}}/{{f.name}}" style="max-height:300px" />
 -->  

    <div class="cropArea">
      <img-crop area-type="square" image="myImage" result-image="myCroppedImage" area-min-size="400" result-image-size="400"></img-crop>
    </div>
    <div>Cropped Image:</div>
      <div><img ng-src="{{myCroppedImage}}"/></div>
    <!-- <p>{{myCroppedImage}}</p> -->
  </div>
</div>

<div class="row ">
  <div class="col-md-10 col-md-offset-1 well">
    <button type="button" class="btn-brand-light btn-article-upload" ng-click="submit2(myCroppedImage)" >Submit</button>
    <button type="button" class="btn-brand-light btn-article-upload" ng-click="cancel()" >Cancel</button>
  </div>
</div>
